.hero_main {
    z-index: 0;
    background-image: radial-gradient(circle closest-corner at 0 28%, #af8e604a, #fff);
}

.hero_main .container {
    max-width: 1150px;
    margin: 0 auto;
    height: 100%;
    padding: 7.2rem 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    width: 100%;
}

.hero_main .heroHeading {
    font-size: 2.8rem;
    color: var(--neutral-black);
    text-align: left;
    font-weight: 600;
    line-height: 135%;
    width: 100%;
}

.hero_main p {
    width: 548px;
    line-height: 155%;
    font-weight: 400;
    font-size: 1.2rem;
    color: #6e6e6e;
    margin-top: 0.8rem;
    margin-bottom: 2.8rem;
}

.hero_main .cta {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    padding: 1.2rem 1.4rem;
    border-radius: 1.8rem;
    font-weight: 500;
    transition: all 400ms ease-in-out;
    font-size: 1rem;

    color: #fff;
    box-shadow: 4px 4px 11px #ddd;
    background-image: linear-gradient(to right top, #af8e60, #a9885a, #a28254, #9c7c4e, #967648);
    cursor: pointer;
}

.hero_main .cta img {
    background-color: #f7f5ed;
    height: 20px;
    width: 20px;
    padding: 0.5rem;
    border-radius: 50%;
}

.hero_main .cta img {
    transition: transform 0.3s ease-in-out;
}

.hero_main .cta:hover img {
    transform: rotate(45deg);
}

.hero_main .cta:hover {
    color: var(--creamy-white);
    background-color: #af8e60ba;
    filter: brightness(1.1);
}

.right {
    position: relative;
}

.right img {
    border-radius: 0.8rem;
    box-shadow: 4px 4px 11px #ddd;
    border: 5px solid #1f355633;
    width: 424px;
}

.right::before {
    content: "";
    position: absolute;
    bottom: -20px;
    right: -50px;
    background-image: url('/img/home-flame-card.webp');
    z-index: 1;
    width: 220px;
    height: 220px;
    background-size: contain;
    background-repeat: no-repeat;
    animation: floatUpDown 4s ease-in-out infinite;
    pointer-events: none;
    z-index: 0;
}

@keyframes floatUpDown {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }
}

/* MEDIA QUERIES */
/* SMALLER MOBILE DEVICES  */
@media screen and (min-width: 0) and (max-width: 359px) {
    .container .left {
        text-align: left;
    }

    .hero_main .container {
        padding: 3.2rem 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.4rem;
        margin: 0 auto;
        max-width: 85%;
    }

    .hero_main .heroHeading {
        font-size: 2rem;
    }

    .hero_main p {
        width: 100%;
        margin-bottom: 1.4rem;
        font-size: 1rem;
    }

    .right {
        position: relative;
    }

    .right img {
        margin: 0 auto;
        width: 95%;
    }

    .right::before {
        bottom: -95px;
        right: -15px;
    }
}

/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 360px) and (max-width: 480px) {
    .container .left {
        text-align: left;
    }

    .hero_main .container {
        padding: 3.2rem 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.4rem;
        margin: 0 auto;
        max-width: 85%;
    }

    .hero_main .heroHeading {
        font-size: 2rem;
    }

    .hero_main p {
        width: 100%;
        margin-bottom: 1.4rem;
        font-size: 1rem;
    }

    .right {
        position: relative;
    }

    .right img {
        margin: 0 auto;
        width: 95%;
    }

    .right::before {
        bottom: -95px;
        right: -15px;
    }
}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .container .left {
        text-align: left;
    }

    .hero_main .container {
        padding: 4.8rem 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.4rem;
        margin: 0 auto;
        max-width: 85%;
    }

    .hero_main .heroHeading {
        font-size: 2.4rem;
    }

    .hero_main p {
        width: 100%;
        margin-bottom: 1.4rem;
    }

    .right {
        position: relative;
    }

    .right img {
        margin: 0 auto;
        width: 95%;
    }

    .right::before {
        bottom: -95px;
        right: -15px;
    }
}

/* SMALL SCREEN */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container .left {
        text-align: left;
    }

    .hero_main .container {
        padding: 4.8rem 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 3.6rem;
        margin: 0 auto;
        max-width: 700px;
    }

    .right {
        position: relative;
    }

    .right img {
        margin: 0 auto;
        width: 100%;
    }

    .right::before {
        right: -25px;
    }
}

/* DESKTOP AND LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {

    .hero_main .heroHeading {
        font-size: 2.4rem;
    }

    .hero_main .container {
        padding: 6.8rem 0;
        justify-content: center;
        gap: 1.8rem;
    }

    .right img {
        width: 336px;
    }

    .right::before {
        width: 200px;
        height: 200px;
        right: -30px;
    }
}

/* EXTRA LARGE SCREENS & TV */
@media screen and (min-width: 1201px) and (max-width: 1400px) {

    .hero_main .container {
        padding: 6.8rem 0;
        justify-content: center;
        gap: 2.4rem;
    }

    .right img {
        width: 384px;
    }
}