.hero_main {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--neutral-black);

    background: rgb(29, 53, 87);
    background: linear-gradient(0deg, rgba(29, 53, 87, 0.45) 0%, rgba(244, 241, 234, 1) 100%);
    position: relative;
    z-index: -1;
}

.bottom_wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.bottom_wave svg {
    position: relative;
    display: block;
    width: calc(115% + 1.3px);
    height: 35px;
}

.bottom_wave .shape_fill {
    fill: #FFFFFF;
}

.hero_main h1 {
    text-align: center;
    font-size: 3.6rem;
    color: var(--neutral-black);
    background-color: #fff;
    padding: 0px 10px;
    margin-bottom: 0.7rem;
    background-color: #1e35571f;
    border-radius: 2px;
}

.hero_main h1 span {}

.hero_main p {
    margin-top: 0.875em;
    width: 650px;
    line-height: 135%;
    font-weight: 500;
    font-size: 1.1rem;
    color: #626262;
    line-height: 135%;
    text-align: center;

}

.hero_main .cta {
    margin-top: 2.4rem;
    color: var(--creamy-white);
    background-color: var(--accent);
    padding: 16px 24px;
    border-radius: 4rem;
    font-weight: 500;
    transition: all 400ms ease-in-out;
    color: #fff;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

}

.hero_main .cta:hover {
    color: var(--creamy-white);
    background-color: #af8e60ba;
}

/* MEDIA QUERIES */
/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 200px) and (max-width: 361px) {
    .hero_main h1 {
        font-size: 1.1rem;
    }

    .hero_main p {
        font-size: 15px;
        width: 196px;
    }

    .hero_main .cta {
        font-size: 14px;
    }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
    .hero_main h1 {
        font-size: 1.6rem;
    }

    .hero_main p {
        font-size: 1rem;
        width: 330px;
    }

    .hero_main .cta {
        font-size: 15px;
    }
}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .hero_main h1 {
        font-size: 2rem;
    }

    .hero_main p {
        font-size: 1rem;
        width: 400px;
    }

    .hero_main .cta {
        font-size: 15px;
    }
}

/* SMALL SCREEN */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .hero_main h1 {
        font-size: 2.4rem;
    }

    .hero_main p {
        font-size: 1rem;
    }
}

/* DESKTOP AND LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .hero_main h1 {
        font-size: 3.2rem;
    }

    .hero_main p {
        font-size: 1rem;
    }
}