.hero_main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--neutral-black);

    background: rgb(29, 53, 87);
    background: linear-gradient(0deg, rgba(29, 53, 87, 0.45) 0%, rgba(244, 241, 234, 1) 100%);

}

.hero_main h1 {
    text-align: center;
    font-size: 3.2rem;
    color: var(--neutral-black);
}

.hero_main h1 span {}

.hero_main p {
    margin-top: 0.875em;
    width: 650px;
    line-height: 135%;
    font-weight: 500;
    font-size: 1rem;
    color: #626262;
    line-height: 135%;
    text-align: center;

}

.hero_main div {
    margin-top: 2.4rem;
    color: var(--creamy-white);
    background-color: var(--accent);
    padding: 16px 24px;
    border-radius: 4rem;
    font-weight: 500;
    transition: all 400ms ease-in-out;
    color: #fff;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

}


.hero_main div:hover {
    color: var(--creamy-white);
    background-color: #af8e60ba;
}