.main {
    background-color: var(--blue);
    padding: 104px 0 156px 0;
    position: relative;
}

.container h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    margin-bottom: 1rem;
}

.container .desc {
    font-size: 1.1rem;
    line-height: 135%;
    letter-spacing: -0.1px;
    color: #dfdfdf;
    font-weight: 500;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3.2rem;
}

.container .stylesText {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 3px;
    -webkit-text-decoration-style: wavy;
    text-decoration-style: wavy;
    -webkit-text-decoration-color: #909ba9;
    text-decoration-color: #909ba9;
}

.wavyTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wavyTop svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 71px;
}

.wavyTop .shapeFill {
    fill: #FFFFFF;
}

.wavyBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wavyBottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 71px;
}

.wavyBottom .shapeFill {
    fill: #f8f5ed;
}

.card_container {
    display: grid;
    grid-template-columns: repeat(2, minmax(356px, 356px));
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.container .card {
    background-color: #fff;
    text-align: center;
    padding: 2.4rem 2.4rem;
    border-radius: 12px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    border: 1.5px solid rgb(234 234 229);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.container .card:hover {
    background-color: var(--creamy-white);
    -webkit-box-shadow: 5px 5px 95px -46px rgba(163, 163, 163, 1);
    -moz-box-shadow: 5px 5px 95px -46px rgba(163, 163, 163, 1);
    box-shadow: 5px 5px 95px -46px rgba(163, 163, 163, 1);
    transform: scale(1.01);
}

.card .card_icon {
    height: 28px;
    width: 28px;
    fill: var(--blue);
    background-color: rgb(30 53 87 / 4%);
    padding: 10px;
    border-radius: 12px;
}

.card h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--blue);
}

.card p {
    font-size: 1rem;
    line-height: 135%;
    color: var(--neutral-black);
    margin-bottom: 1.2rem;
    text-align: left;
}

.card .learn_more {
    font-size: 1rem;
    color: var(--blue);
    color: #626262;
    font-weight: 600;
    transition: all 400ms ease-in-out;
}

.card .learn_more:hover {
    color: #828282;
}


/* MEDIA QUERIES */
@media screen and (min-width: 0px) and (max-width: 480px) {
    .container h2 {
        width: 80%;
        margin: 0 auto;
    }

    .container .desc {
        width: 80%;
        margin: 0 auto;
        margin-top: 1rem;
        margin-bottom: 2.8rem;
    }

    .container .card {
        padding: 1.2rem 1.4rem;
    }

    .card_container {
        grid-template-columns: repeat(1, minmax(196px, 1fr));
        align-items: flex-start;
        margin: 0 1.2rem;
    }
}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .container h2 {
        width: 70%;
        margin: 0 auto;
    }

    .container .card {
        padding: 1.2rem 1.4rem;
    }

    .card_container {
        grid-template-columns: repeat(2, minmax(196px, 1fr));
        align-items: flex-start;
        margin: 0 1.4rem;
    }
}

/* SMALL SCREEN */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container .card {
        padding: 1.2rem 1.4rem;
    }
}