.main {
    background-color: var(--blue);
    padding: 104px 0;
    position: relative;
}

.custom_shape_divider_top_1735330510 {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom_shape_divider_top_1735330510 svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 19px;
}

.custom_shape_divider_top_1735330510 .shape_fill {
    fill: #FFFFFF;
}

/*  */

.custom_shape_divider_bottom_1735330233 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom_shape_divider_bottom_1735330233 svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 77px;
}

.custom_shape_divider_bottom_1735330233 .shape_fill {
    fill: #f7f5ed;
}

.container h2 {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--creamy-white);
    text-align: center;
    margin-bottom: 3.2rem;
}


.card_container {
    display: grid;
    grid-template-columns: repeat(2, minmax(356px, 356px));
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.container .card {
    background-color: var(--creamy-white);
    text-align: center;
    padding: 2.4rem 2.4rem;
    border-radius: 12px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    border: 1.5px solid rgb(234 234 229);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.container .card:hover {
    background-color: #fdf5e2;
    -webkit-box-shadow: 5px 5px 95px -46px rgba(163, 163, 163, 1);
    -moz-box-shadow: 5px 5px 95px -46px rgba(163, 163, 163, 1);
    box-shadow: 5px 5px 95px -46px rgba(163, 163, 163, 1);
    transform: scale(1.01);
}

.card .card_icon {
    height: 28px;
    width: 28px;
    fill: var(--blue);
    background-color: rgb(30 53 87 / 4%);
    padding: 10px;
    border-radius: 12px;
}

.card h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--blue);
}

.card p {
    font-size: 1rem;
    line-height: 135%;
    color: var(--neutral-black);
    margin-bottom: 1.2rem;
    text-align: left;
}

.card .learn_more {
    font-size: 1rem;
    color: var(--blue);
    color: #626262;
    font-weight: 600;
    transition: all 400ms ease-in-out;
}

.card .learn_more:hover {
    color: #828282;
}


/* MEDIA QUERIES */
@media screen and (min-width: 0px) and (max-width: 359px) {
    .container h2 {
        font-size: 1.4rem;
    }

    .container .card {
        padding: 1.4rem;
        border-radius: 12px;
    }

    .card_container {
        grid-template-columns: repeat(1, minmax(126px, 1fr));
        align-items: flex-start;
        margin: 0 1rem;
    }
}

/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 360px) and (max-width: 480px) {
    .container h2 {
        font-size: 1.4rem;
    }

    .card_container {
        grid-template-columns: repeat(1, minmax(196px, 1fr));
        align-items: flex-start;
        margin: 0 1.2rem;
    }
}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .container h2 {
        font-size: 1.6rem;
    }

    .container .card {
        padding: 1.4rem 1.8rem;
    }

    .card_container {
        grid-template-columns: repeat(2, minmax(196px, 1fr));
        align-items: flex-start;
        margin: 0 1.4rem;
    }
}