.stats_main {
    padding: 96px 0;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* background-image: url('/img/white_bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; */

    position: relative; /* Required for the ::before pseudo-element */
    overflow: hidden; /* Ensures the blurred background doesn't spill out */
}

.stats_main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/img/white_bg.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(4px); /* Adjust blur value as needed */
    z-index: -1; /* Places the blurred background behind the content */
  }

.stats_main .heading {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--blue);
    text-transform: capitalize;
}

.stats_main .desc {
    font-size: 1rem;
    line-height: 135%;
    letter-spacing: -0.1px;
    color: #626262;
    font-weight: 500;
    text-align: center;
    margin-bottom: 3.2rem;
}

.stats_container {
    list-style-type: none;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 3.2rem;
    margin-bottom: 3.6rem;
}

.stats_box {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.stats_box h3 {
    color: #333;
    font-size: 3.2rem;
}

.stats_box p {
    text-align: left;
    font-size: 1.2rem;
    line-height: 135%;
    letter-spacing: -0.1px;
    color: #626262;
    font-weight: 500;
    padding-left: 4px;
}


.stats_cta {
    color: var(--creamy-white);
    background-color: var(--accent);
    padding: 16px 24px;
    border-radius: 4rem;
    font-weight: 500;
    transition: all 400ms ease-in-out;
    color: #fff;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

}


.stats_cta:hover {
    color: var(--creamy-white);
    background-color: #af8e60ba;
}

.custom_shape_divider_top_1735502423 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom_shape_divider_top_1735502423 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 71px;
}

.custom_shape_divider_top_1735502423 .shape_fill {
    fill: #f7f5ed;
}