.main {
    background-color: var(--blue);
    border-top: 1px solid #af8e603b;
}

.upper_foot {
    padding: 72px 64px;
    display: flex;
    justify-content: space-between;
}

.left_container {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.left_container .logo_img {
    height: 48px;
    width: auto;
    cursor: default;
}

.left_container ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.left_container ul li {}

.left_container ul li img {
    height: 18px;
    width: 18px;
    background-color: rgb(56 76 104);
    padding: 12px;
    border-radius: 7px;
    transition: all 400ms ease-in-out;
    cursor: pointer;
}

.left_container ul li img:hover {
    background-color: rgb(57 66 77);
}

.right_container {
    display: flex;
    gap: 4.2rem;
}

.right_container .col_services {
    color: var(--creamy-white);
}

.col_services h3 {
    color: var(--creamy-white);
    font-weight: 600;
    letter-spacing: 0.6px;
    font-size: 1rem;
    transition: all 400ms ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 1.5rem;
}

.col_services h3:hover {
    color: #a9a9a9;
    text-decoration: underline;
}

.col_services h3 img {
    height: 12px;
}

.col_services ul {
    list-style-type: none;
    font-size: 1rem;
}

.col_services ul li {
    margin-bottom: 14px;
    text-transform: capitalize;
    color: #d6d6d6;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.col_services ul li:last-child {
    margin-bottom: 3.6rem;
}

.col_contact h3 {
    color: var(--creamy-white);
    font-weight: 600;
    letter-spacing: 0.6px;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.col_contact ul {
    list-style-type: none;
}

.col_contact ul h2 {
    color: var(--creamy-white);
    font-weight: 600;
    letter-spacing: 0.6px;
    font-size: 1rem;
    margin-bottom: 14px;
}

.col_contact ul li {}

.col_contact ul li img {
    height: 12px;
}

.col_contact ul li:hover {
    color: #a9a9a9;
    text-decoration: underline;
}

.col_contact ul li {
    margin-bottom: 14px;
    text-transform: capitalize;
    color: #d6d6d6;
    font-weight: 400;
    letter-spacing: 0.4px;

    display: flex;
    align-items: center;
    gap: 6px;
}

.col_contact ul li:hover {
    text-decoration: none;
    color: #d6d6d6;
}

.col_contact .contact_flag {
    font-size: 1.3rem;
}

.droptext {
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.droptext h3 {
    color: var(--creamy-white);
    font-weight: 600;
    letter-spacing: 0.6px;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.droptext .wechat_btn,
.droptext .whatsapp_btn {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    width: 120px;
    color: var(--creamy-white);
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(56 76 104);
    padding: 14px 24px;
    border-radius: 8px;
    border: 1px solid #af8e6042;
    transition: all 400ms ease-in-out;
    cursor: pointer;
}

.droptext .wechat_btn:hover,
.droptext .whatsapp_btn:hover {
    text-decoration: none;
    background-color: rgb(57 66 77);
}

.droptext .wechat_btn img,
.droptext .whatsapp_btn img {
    height: 24px;
}

.col_email ul {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

.col_email ul li h3 {
    color: var(--creamy-white);
    font-weight: 600;
    letter-spacing: 0.6px;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
}

.col_email ul li p {
    margin-bottom: 14px;
    color: #d6d6d6;
    font-weight: 400;
    letter-spacing: 0.4px;
    width: 280px;
}

.col_email ul li:last-child {
    color: var(--creamy-white);
    font-weight: 600;
    letter-spacing: 0.6px;
    font-size: 1rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.col_email ul li:last-child:hover {
    transition: all 400ms ease-in-out;
    text-decoration: underline;
    color: #a9a9a9;
}

.col_email ul li img {
    height: 12px;
}

.lower_foot {
    font-size: 14px;
    line-height: 135%;
    font-weight: 400;
    color: var(--creamy-white);
    padding: 10px;
    text-align: center;
    background-color: var(--accent);
    border-top: 1px solid #af8e603b;
}

/* MEDIA QUERIES */
@media screen and (min-width: 200px) and (max-width: 361px) {
    .right_container {
        align-items: center;
        flex-direction: column;
    }

    .upper_foot {
        padding: 36px 0px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .left_container {
        margin-bottom: 2.4rem;
    }

    .left_container .logo_img {
        height: 36px;
        margin-bottom: 2.4rem;
    }

    /* WORK */
    .col_email ul li:nth-of-type(2) h3 p {
        width: 100px;
    }
}

/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 360px) and (max-width: 480px) {
    .right_container {
        display: grid;
        align-items: start;
        grid-template-columns: repeat(2, 156px);
        gap: 1rem;
    }

    .upper_foot {
        padding: 36px 0px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .left_container {
        margin-bottom: 2.4rem;
    }

    .left_container .logo_img {
        height: 36px;
        margin-bottom: 2.4rem;
    }
}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .right_container {
        align-items: start;
        justify-content: center;

        display: grid;
        grid-template-columns: repeat(2, 196px);
        gap: 1rem;
    }

    .upper_foot {
        padding: 56px 48px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .left_container {
        margin-bottom: 2.4rem;
    }
}

/* SMALL SCREEN */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .right_container {
        align-items: start;
        justify-content: center;
    }

    .upper_foot {
        padding: 56px 48px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .left_container {
        margin-bottom: 2.4rem;
    }
}

/* DESKTOP AND LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .right_container {
        gap: 2.4rem;
    }

    .upper_foot {
        padding: 72px 42px;
    }
}