.main {
    padding: 96px 0;
    color: var(--neutral-black);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
}

.main h2 {
    margin-bottom: 3.2rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--blue);
}

.main h2 span {}

.card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 96px;
}

.card_container .card {
    display: flex;
    gap: 2.4rem;
}

.card_container .card_02 {
    display: flex;
    gap: 2.8rem;
}

.card .content {
    width: 496px;
    display: flex;
    flex-direction: column;
}

.card .content h3 {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--blue);
    margin-bottom: 0.4rem;
}

.card .content p {
    font-size: 1rem;
    line-height: 135%;
    letter-spacing: -0.1px;
    color: #626262;
    margin-bottom: 1.2rem;
}

.card .content div {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--accent);
    transition: all 400ms ease-in-out;
    cursor: pointer;
}

.card .content div:hover {
    color: #b7a081;
}

.card .content div img {
    transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.card .content div:hover img {
    transform: translateX(4px);
}

/* big fat img on the left */
.card .img {
    height: 248px;
    width: auto;
    background-color: #f7f5ed9c;
    padding: 36px 36px;
    border-radius: 16px;
}

/* MEDIA QUERIES */
/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 200px) and (max-width: 361px) {

    .main h2 {
        font-size: 1rem;
        text-align: center;
    }

    .card .content h3 {
        font-size: 15px;
text-align: center;
    }

    .card .content p {
        text-align: center;
        font-size: 15px;
    }

    .card_container .card {
        flex-direction: column;
        gap: 1.2rem;
    }

    .card_container .card_02 {
        flex-direction: column-reverse;
        gap: 1.4rem;
    }

    .card .content {
        width: 196px;
    }

    .card .img {
        height: 124px;
    }

.card .content div {
    font-size: 14px;
    text-align: center;
}
}
@media screen and (min-width: 360px) and (max-width: 480px) {
    .main h2 {
        font-size: 1.2rem;
    }

    .card .content h3 {
        font-size: 1rem;
    }

    .card .content p {
        font-size: 1rem;
    }

    .card_container .card {
        flex-direction: column;
    }

    .card_container .card_02 {
        flex-direction: column-reverse;
    }

    .card .content {
        width: 248px;
    }

    .card .img {
        height: 196px;
    }
}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .main h2 {
        font-size: 1.4rem;
    }


    .card_container .card {
        flex-direction: column;
    }

    .card_container .card_02 {
        flex-direction: column-reverse;
    }

    .card .content {
        width: 336px;
    }
}

/* SMALL SCREEN */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .main h2 {
        font-size: 1.4rem;
    }

    .card .content {
        width: 336px;
    }
}

/* DESKTOP AND LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .main h2 {
        font-size: 1.4rem;
    }
}