.main {
    padding: 48px 0 96px 0;
    color: var(--neutral-black);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
}

.main h2 {
    margin-bottom: 3.2rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--blue);
}

.stylesText {
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 6px;
    text-decoration-color: #af8e60a3;
}

.card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 96px;
}

.card_container .card {
    display: flex;
    gap: 2.4rem;
}

.card_container .card_02 {
    display: flex;
    gap: 2.8rem;
}

.card .content {
    width: 496px;
    display: flex;
    flex-direction: column;
}

.card .content h3 {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--blue);
    margin-bottom: 0.4rem;
}

.card .content p {
    font-size: 1rem;
    line-height: 135%;
    letter-spacing: -0.1px;
    color: #626262;
    margin-bottom: 1.2rem;
}

.card .content a {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--accent);
    transition: all 400ms ease-in-out;
    cursor: pointer;
}

.card .content a:hover {
    color: #b7a081;
}

.card .content a img {
    transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.card .content a:hover img {
    transform: translateX(4px);
}

/* big fat img on the left */
.card .img {
    height: 248px;
    width: auto;
    background-color: #faf9f3;
    padding: 36px 36px;
    border-radius: 16px;
}

/* MEDIA QUERIES */
/* AVERGAE MOBILE DEVICES */
@media screen and (min-width: 0) and (max-width: 480px) {

    .main {
        padding: 56px 0 66px 0;
    }

    .main h2 {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 1rem;
        text-align: center;
    }

    .card_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        gap: 18px;
    }

    .card .content {
        margin: 0 auto;
        width: 95%;
    }

    .content h3 {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .card .content p {
        width: 100%;
    }

    .card_container .card {
        flex-direction: column;
        gap: 1.2rem;
        max-width: 85%;
        margin: 0 auto;

        border: 1.5px solid #af8e6021;
        padding: 14px 10px;
        border-radius: 8px;
        background-color: #af8e601e;
    }

    .card_container .card_02 {
        flex-direction: column-reverse;
        gap: 1.2rem;
    }

    .cardImgContainer {
        display: none;
    }
}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {

    .card_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        gap: 48px;
    }

    .main h2 {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 2rem;
        text-align: center;
    }

    .card .content {
        margin: 0 auto;
        width: 100%;
    }

    .content h3 {
        width: 100%;
    }

    .card .content p {
        margin-bottom: 0.6rem;
        width: 100%;
    }

    .card_container .card {
        flex-direction: column;
        gap: 1.2rem;
        max-width: 85%;
        margin: 0 auto;
    }

    .card_container .card_02 {
        flex-direction: column-reverse;
        gap: 1.2rem;
    }
}

/* SMALL SCREEN */
@media screen and (min-width: 769px) and (max-width: 1024px) {

    .main h2 {
        margin: 0 auto;
        margin-bottom: 2.8rem;
        text-align: center;
    }

    .card_container {
        gap: 72px;
    }

    .card .content {
        width: 336px;
    }

    .card_container .card_02 {
        gap: 2.4rem;
    }

    .card_container .card_02 .img {
        height: 224px;
        width: auto;
    }
}