.main {
    background-color: var(--blue);
    padding: 72px;

    display: flex;
    justify-content: center;
    gap: 3.6rem;
}

.contact_left {
    margin-top: 4.2rem;
}

.contact_left .heading {
    color: var(--creamy-white);
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.contact_left .desc {
    font-size: 1rem;
    line-height: 135%;
    letter-spacing: -0.1px;
    color: #dfdfdf;
    font-weight: 400;
    margin-bottom: 2.8rem;
}

.contact_options {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact_options li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 2px;
}

.contact_options li img {
    height: 24px;
    width: 24px;
    background-color: rgb(56 76 104);
    padding: 10px;
    border-radius: 12px;
}

.contact_left li p {
    font-size: 1rem;
    line-height: 135%;
    letter-spacing: -0.1px;
    color: #dfdfdf;
    font-weight: 400;
    transition: all 400ms ease-in-out;
    cursor: pointer;
}

.contact_left li p:hover {
    color: #be9d6e;
    text-decoration: underline;
}

.contact_right {}

.form_container {
    background-color: var(--creamy-white);
    padding: 3.2rem 1.6rem;
    border-radius: 4px;
    border: 2px solid var(--accent);
    box-shadow: 0 0 0px 3px #af8e605e;
}

.row_1,
.row_2,
.row_3 {
    display: flex;
    gap: 2.4rem;
    align-items: center;
    justify-content: start;
    color: var(--creamy-white);
    margin-bottom: 2.8rem;
}

.row_3 {
    margin-bottom: 0;
}

.row_1 span,
.row_2 span {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.5rem;
}

.row_3 span {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.5rem;
}

.row_1 span p,
.row_2 span p,
.row_3 span p {
    color: var(--blue);
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 600;
}

.row_1 span input,
.row_2 span input {
    outline: none;
    border: 1px solid #d5d5d5;
    font-size: 1rem;
    width: 200px;
    padding: 10px 12px;
    border-radius: 4px;
    text-decoration: none;
    appearance: none;
    font-family: inherit;
    color: #333;
    transition: all 400ms ease-in-out;
}

.row_1 span input::placeholder,
.row_2 span input::placeholder {
    font-size: 1rem;
    color: #9f9f9f;
}

.row_1 span input:focus,
.row_2 span input:focus,
.row_3 span textarea:focus {
    box-shadow: 0 0 0px 3px #af8e605e;
    border-color: var(--accent);
    transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.row_3 span textarea {
    outline: none;
    resize: vertical;
    border: 1px solid #d5d5d5;
    font-size: 1rem;
    width: 95%;
    padding: 10px 12px;
    border-radius: 4px;
    text-decoration: none;
    display: block;
    font-family: inherit;
    line-height: 135%;
    height: 196px;
}

.row_3 span textarea::placeholder {
    color: #9f9f9f;
}

.form_submit {
    color: var(--creamy-white);
    background-color: var(--accent);
    border: 1px solid #af8e6021;
    box-shadow: 4px 4px 6px 0px #dbdad8;

    margin-top: 2.8rem;
    font-weight: 500;
    padding: 10px 24px;
    border-radius: 4px;

    text-align: center;

    text-transform: capitalize;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.form_submit:hover {
    color: var(--creamy-white);
    background-color: #af8e60ba;
}