.main {
    background-color: var(--blue);
    padding: 144px 0 124px 0;
    position: relative;
}

.wavyTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wavyTop svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 71px;
}

.wavyTop .shapeFill {
    fill: #f5f1ea;
}

.wavyBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wavyBottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 71px;
}

.wavyBottom .shapeFill {
    fill: #f8f5ed;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5.6rem;
}

.leftSide .heading {
    color: var(--creamy-white);
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.leftSide .desc {
    font-size: 1.1rem;
    line-height: 135%;
    letter-spacing: -0.1px;
    color: #dfdfdf;
    font-weight: 500;
    margin-bottom: 2.8rem;
}

.leftSide .view {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 14px 1.2rem;
    border-radius: 12px;
    font-weight: 600;
    transition: all 400ms ease-in-out;
    color: #fff;
    box-shadow: 4px 4px 11px #0e1e3587;
    background-image: linear-gradient(to right top, #af8e60, #a9885a, #a28254, #9c7c4e, #967648);
}

.leftSide .view:hover {
    filter: brightness(1.1);
}

.rightSide span {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.rightSide .card {
    width: 256px;
    background-color: #fff;
    text-align: center;
    padding: 2.4rem 2.4rem;
    border-radius: 12px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    border: 1.5px solid rgb(234 234 229);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.rightSide .card:hover {
    background-color: var(--creamy-white);
    -webkit-box-shadow: 5px 5px 95px -46px rgba(163, 163, 163, 1);
    -moz-box-shadow: 5px 5px 95px -46px rgba(163, 163, 163, 1);
    box-shadow: 5px 5px 95px -46px rgba(163, 163, 163, 1);
    transform: scale(1.01);
}

.card .card_icon {
    height: 28px;
    width: 28px;
    fill: var(--blue);
    background-color: rgb(30 53 87 / 4%);
    padding: 10px;
    border-radius: 12px;
}

.card h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--blue);
}

.card p {
    font-size: 14px;
    line-height: 135%;
    color: var(--neutral-black);
    margin-bottom: 1.2rem;
    text-align: left;
}

.card .learn_more {
    font-size: 14px;
    color: var(--blue);
    color: #626262;
    font-weight: 600;
    transition: all 400ms ease-in-out;
}

.card .learn_more:hover {
    color: #828282;
}

/* MEDIA QUERIES */
@media screen and (min-width: 0px) and (max-width: 359px) {
    .container {
        gap: 3.2rem;
        flex-direction: column;
    }

    .rightSide span {
        flex-direction: column;
    }

    .leftSide {
        text-align: center;
    }

    .leftSide .heading {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 0.6rem;
    }

    .leftSide .desc {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 1.8rem;
    }

    .rightSide .card {
        width: 184px;
        padding: 1.4rem 1.4rem;
        border-radius: 12px;
    }
}

/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 360px) and (max-width: 480px) {
    .container {
        gap: 3.2rem;
        flex-direction: column;
    }

    .rightSide span {
        flex-direction: column;
    }

    .leftSide {
        text-align: center;
    }

    .leftSide .heading {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 0.8rem;
    }

    .leftSide .desc {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .rightSide .card {
        width: 224px;
    }
}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .container {
        gap: 3.2rem;
        flex-direction: column;
    }

    .rightSide span {
        flex-direction: column;
    }

    .leftSide {
        text-align: center;
    }

    .leftSide .heading {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 0.8rem;
    }

    .leftSide .desc {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .rightSide .card {
        width: 256px;
    }
}

/* SMALL SCREEN */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        gap: 3.2rem;
        flex-direction: column;
    }

    .leftSide {
        text-align: center;
    }

    .leftSide .heading {
        margin-bottom: 0.8rem;
    }

    .leftSide .desc {
        margin-bottom: 2rem;
    }

    .rightSide .card {
        width: 224px;
    }
}

/* DESKTOP AND LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .container {
        gap: 2.4rem;
    }

    .leftSide .heading {
        font-size: 1.6rem;
    }

    .leftSide .desc {
        font-size: 1rem;
    }

    .rightSide .card {
        width: 218px;
        padding: 1.6rem 1.6rem;
        border-radius: 12px;
    }
}

/* EXTRA LARGE SCREENS & TV */
@media screen and (min-width: 1201px) and (max-width: 1405px) {
    .container {
        gap: 3.2rem;
    }
}