.main {}

.herosection {
    z-index: 0;
    background-image: radial-gradient(circle closest-corner at 0 31%, #af8e604a, #fff);
}

.herosection .herosectionContainer {
    max-width: 1150px;
    margin: 0 auto;
    height: 100%;
    padding: 10% 0;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.herosectionContainer .capsule {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--accent);
    background-color: #af8e6030;
    border-radius: 1rem;
    padding: 3px 15px;
    box-shadow: 0 0 0px 2px #af8e605e;
    border: 1px solid var(--accent);
    margin-bottom: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.herosectionContainer .heroHeading {
    font-size: 2.8rem;
    color: var(--neutral-black);
    text-align: left;
    font-weight: 600;
    line-height: 135%;
    width: 100%;
    text-transform: capitalize;
}

.herosectionContainer p {
    width: 548px;
    line-height: 155%;
    font-weight: 400;
    font-size: 1.2rem;
    color: #6e6e6e;
    margin-top: 0.8rem;
    margin-bottom: 2.8rem;
}

.herosectionContainer .cta {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    padding: 1.2rem 1.4rem;
    border-radius: 1.8rem;
    font-weight: 500;
    transition: all 400ms ease-in-out;
    font-size: 1rem;

    color: #fff;
    box-shadow: 4px 4px 11px #ddd;
    background-image: linear-gradient(to right top, #af8e60, #a9885a, #a28254, #9c7c4e, #967648);
    cursor: pointer;
}

.herosectionContainer .cta img {
    background-color: #f7f5ed;
    height: 20px;
    width: 20px;
    padding: 0.5rem;
    border-radius: 50%;
}

.herosectionContainer .cta img {
    transition: transform 0.3s ease-in-out;
}

.herosectionContainer .cta:hover img {
    transform: rotate(45deg);
}

.herosectionContainer .cta:hover {
    color: var(--creamy-white);
    background-color: #af8e60ba;
    filter: brightness(1.1);
}

.aboutContent {
    background-image: linear-gradient(to bottom, #ffffff, #fdfbfc, #fcf7f7, #faf3f0, #f4f1ea);
}

.aboutContentContainer {
    display: flex;
    flex-direction: column;
    padding: 96px;
    max-width: 900px;
    justify-self: center;
    margin: 0 auto;
}

.aboutContentContainer ul {
    list-style-type: none;
}

.aboutContentContainer li {
    margin-bottom: 3.6rem;
}

.aboutContentContainer li h3 {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--blue);
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}

.aboutContentContainer li p {
    font-weight: 400;
    font-size: 1.14rem;
    line-height: 155%;
    color: #626262;
    margin-top: 0.5rem;
    letter-spacing: 0.3px;
}

.aboutContentContainer .mission_container {
    display: flex;
    gap: 2.8rem;
}

.mission_container .head {
    margin-top: 2.4rem;
}

.mission_container .content {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    line-height: 155%;
}

.founder_photos {}

.photo_duo {
    background-color: #eee4dd;
    padding: 16px;
    border-radius: 0.5rem;
    margin-top: 4.2rem;
}

.photo_duo:nth-child(2) {
    margin-top: 1.6rem;
}

.photo_duo .name {
    font-size: 1.14rem;
    line-height: 135%;
    margin-top: 0.5rem;
    letter-spacing: 0.3px;
    color: var(--blue);
    font-weight: 600;
    text-align: center;
}

.photo_duo .name span {
    font-size: 1rem;
    color: #626262a3;
    font-weight: 500;
    letter-spacing: -0.2px;
}

.photo_duo img {
    height: 324px;
    width: auto;
    border-radius: 0.3rem;
}

.core_values {
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.6rem;
    position: relative;
    padding: 144px 0 144px 0;
}


.wavyTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wavyTop svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 71px;
}

.wavyTop .shapeFill {
    fill: #f5f1ea;
}

.wavyBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wavyBottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 71px;
}

.wavyBottom .shapeFill {
    fill: #f8f5ed;
}

.core_values .core_left {}

.core_left h3 {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--creamy-white);
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.core_left p {
    color: var(--creamy-white);
    font-size: 1.15rem;
    line-height: 135%;
    color: #d6d6d6;
    margin-bottom: 2.8rem;
    width: 500px;
}

.core_left .cta {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 14px 1.2rem;
    border-radius: 12px;
    font-weight: 600;
    transition: all 400ms ease-in-out;
    color: #fff;
    box-shadow: 4px 4px 11px #0e1e3587;
    background-image: linear-gradient(to right top, #af8e60, #a9885a, #a28254, #9c7c4e, #967648);
}

.core_left .cta:hover {
    filter: brightness(1.1);
}

.core_right {}

.core_right span {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.core_right .card {
    width: 256px;
    background-color: #fff;
    text-align: center;
    padding: 1.8rem 1.6rem;
    border-radius: 12px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    border: 1.5px solid rgb(234 234 229);
}

.card .card_icon {
    height: 28px;
    width: 28px;
    fill: var(--blue);
    background-color: rgb(30 53 87 / 4%);
    padding: 10px;
    border-radius: 12px;
}

.card h3 {
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--blue);
}

.card p {
    font-size: 14px;
    line-height: 135%;
    color: var(--neutral-black);
    margin-bottom: 1.2rem;
    text-align: left;
}


/* MEDIA QUERIES */
/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 0px) and (max-width: 359px) {

    .aboutContentContainer {
        padding: 96px 16px 64px 16px;
    }

    .aboutContentContainer li p {
        font-size: 1rem;
    }

    .aboutContentContainer .mission_container {
        gap: 2.4rem;
        flex-direction: column-reverse;
    }

    .mission_container .head {
        margin-top: 0.5rem;
    }

    .mission_container .content {
        font-size: 1rem;
    }

    .photo_duo {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-self: center;
    }

    .photo_duo img {
        width: 180px;
        height: auto;
    }

    .core_values {
        flex-direction: column;
        gap: 2.4rem;
        height: 100%;
        padding: 118px 36px 96px 36px;
    }

    .core_left {
        text-align: center;
    }

    .core_left p {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 1.4rem;
    }

    .core_left h3 {
        margin-bottom: 0.5rem;
    }

    .core_right span {
        flex-direction: column;
    }


    .core_right .card {
        width: 164px;
        padding: 1.2rem 1.2rem;
    }

    .card .card_icon {
        height: 24px;
        width: 24px;
        padding: 8px;
        border-radius: 8px;
    }

    .ready {
        padding: 124px 24px 124px 24px;
    }

    /*  */

    .herosection .herosectionContainer {
        width: 85%;
        padding: 3.2rem 0;
    }

    .herosectionContainer .heroHeading {
        font-size: 2rem;
    }

    .herosectionContainer .desc {
        width: 100%;
        margin-bottom: 1.4rem;
        font-size: 1rem;
    }
}

@media screen and (min-width: 360px) and (max-width: 480px) {

    .aboutContentContainer {
        padding: 96px 16px 64px 16px;
    }

    .aboutContentContainer li p {
        font-size: 1rem;
    }

    .aboutContentContainer .mission_container {
        gap: 2.4rem;
        flex-direction: column-reverse;
    }

    .mission_container .head {
        margin-top: 0.5rem;
    }

    .mission_container .content {
        font-size: 1rem;
    }

    .founder_photos {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .photo_duo {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-self: center;
        margin-top: 0;
        margin-bottom: 0;
        padding: 28px 16px;
    }

    .photo_duo:nth-child(2) {
        margin-top: 0;
    }


    .photo_duo img {
        /* width: auto; */
    }

    .core_values {
        flex-direction: column;
        gap: 2.4 rem;
        height: 100%;
        padding: 118px 36px 96px 36px;
    }

    .core_left {
        text-align: center;
    }

    .core_left p {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 1.4rem;
    }

    .core_left h3 {
        margin-bottom: 0.5rem;
    }


    .core_right span {
        flex-direction: column;
    }

    .ready {
        padding: 124px 24px 124px 24px;
    }

    /*  */


    .herosection .herosectionContainer {
        width: 85%;
        padding: 4.2rem 0;
    }

    .herosectionContainer .heroHeading {
        font-size: 2rem;
    }

    .herosectionContainer .desc {
        width: 100%;
        margin-bottom: 1.4rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 700px) {
    .founder_photos {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .photo_duo {
        width: 100%;
        padding: 36px 0;
    }
}


/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {

    .aboutContentContainer {
        padding: 96px 36px 64px 36px;
    }

    .aboutContentContainer li p {
        font-size: 1rem;
    }

    .aboutContentContainer .mission_container {
        gap: 2.4rem;
        flex-direction: column-reverse;
    }

    .mission_container .head {
        margin-top: 0.5rem;
    }

    .mission_container .content {
        font-size: 1rem;
        width: 100%;
    }

    .founder_photos {
        width: 100%;
        display: flex;
        gap: 1rem;
    }

    .photo_duo {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-self: center;

        margin-top: 0;
        margin-bottom: 0;
        padding: 28px 16px;
    }

    .photo_duo:nth-child(2) {
        margin-top: 0;
    }

    .photo_duo img {
        /* width: auto; */
    }

    .core_values {
        flex-direction: column;
        gap: 2.8rem;
        height: 100%;
        padding: 118px 36px 72px 36px;
    }

    .core_left {
        text-align: center;
    }

    .core_left p {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 1.4rem;
    }

    .core_left h3 {
        margin-bottom: 0.5rem;
    }

    .core_right span {
        flex-direction: column;
    }


    .ready {
        padding: 108px 0 84px 0;
    }

    /*  */

    .herosection .herosectionContainer {
        width: 85%;
        padding: 4.8rem 0;
    }

    .herosectionContainer .heroHeading {
        font-size: 2.4rem;
    }

    .herosectionContainer .desc {
        width: 100%;
        margin-bottom: 1.4rem;
    }
}

/* SMALL SCREEN */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .aboutContentContainer {
        padding: 96px 48px 72px 48px;
    }

    .aboutContentContainer li p {
        font-size: 1rem;
    }

    .aboutContentContainer .mission_container {
        gap: 2rem;
    }

    .mission_container .head {
        margin-top: 0.5rem;
    }

    .mission_container .content {
        font-size: 1rem;
    }

    .photo_duo {
        height: fit-content;
    }

    .core_values {
        flex-direction: column;
        gap: 3.2rem;
        height: 100%;
        padding: 118px;
    }

    .core_left {
        text-align: center;
    }

    .core_left h3 {
        margin-bottom: 0.5rem;
    }

    .core_left p {
        margin-bottom: 1.4rem;
    }

    /*  */

    .herosectionContainer {
        width: 80%;
    }

}

/* DESKTOP AND LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {

    .core_values {
        flex-direction: column;
        gap: 3.2rem;
        height: 100%;
        padding: 118px 0;
    }

    .core_left {
        text-align: center;
    }

    .core_left h3 {
        margin-bottom: 0.5rem;
    }

    .core_left p {
        margin-bottom: 1.4rem;
    }

    /*  */

    .herosectionContainer {
        width: 80%;
    }
}

/* EXTRA LARGE SCREENS & TV */
@media screen and (min-width: 1201px) and (max-width: 1400px) {
    .core_values {
        gap: 1.4rem;
    }

    .herosectionContainer {
        max-width: 80%;
    }
}