.main {

}

.hero_aboutus {
    height: 90vh;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(0deg, #15263e 0%, rgb(247 245 237) 100%);

    position: relative;
    z-index: 0;
}

.hero_aboutus span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero_aboutus p {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--creamy-white);
    background-color: #af8e6096;
    border-radius: 1rem;
    padding: 3px 12px;
    box-shadow: 0 0 0px 2px #af8e605e;
    border: 1px solid var(--accent);
    margin-bottom: 0.2rem;
}

.hero_aboutus h1 {
    font-size: 2.8rem;
    font-weight: 800;
    color: #fff;
    line-height: 125%;
    text-transform: capitalize;
    text-align: center;
}

.hero_aboutus .cta {
    margin-top: 3.6rem;
    color: var(--creamy-white);
    background-color: var(--accent);
    padding: 16px 24px;
    border-radius: 4rem;
    font-weight: 600;
    transition: all 400ms ease-in-out;
    color: #fff;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.hero_aboutus .cta:hover {
    color: var(--creamy-white);
    background-color: #af8e60ba;
}

.custom_shape_divider_bottom_1735337911 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom_shape_divider_bottom_1735337911 svg {
    position: relative;
    display: block;
    width: calc(106% + 1.3px);
    height: 31px;
}

.custom_shape_divider_bottom_1735337911 .shape_fill {
    fill: var(--creamy-white);
}

.about_content {
    display: flex;
    flex-direction: column;
    padding: 96px;
    max-width: 900px;
    justify-self: center;
    margin: 0 auto;
    background-color: var(--creamy-white);
}

.about_content ul {
    list-style-type: none;
}

.about_content li {
    margin-bottom: 3.6rem;
}

.about_content li h3 {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--blue);
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}

.about_content li p {
    font-weight: 400;
    font-size: 1.14rem;
    line-height: 135%;
    color: #626262;
    margin-top: 0.5rem;
    letter-spacing: 0.3px;

}

.about_content .mission_container {
    display: flex;
    gap: 2.8rem;
}

.mission_container .head {
    margin-top: 2.4rem;
}

.mission_container .content {
    font-size: 1.1rem;
    margin-top: 0.5rem;
}

.photo_duo {
    background-color: #af8e6026;
    padding: 24px 24px;
    border-radius: 4px;
}

.photo_duo .name {
    font-size: 1.14rem;
    line-height: 135%;
    margin-top: 0.5rem;
    letter-spacing: 0.3px;
    color: var(--blue);
    font-weight: 600;
    text-align: center;
}

.photo_duo .name span {
    font-size: 1rem;
    color: #626262a3;
    font-weight: 500;
    letter-spacing: -0.2px;
}

.photo_duo img {
    height: 348px;
    width: auto;
}

.core_values {
    height: 95vh;
    background-color: var(--blue);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.6rem;

    position: relative;
}

.custom_shape_divider_top_1735650993 {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom_shape_divider_top_1735650993 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 46px;
}

.custom_shape_divider_top_1735650993 .shape_fill {
    fill: var(--creamy-white);
}

.core_values .core_left {}

.core_left h3 {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--creamy-white);
    margin-bottom: 0;
    text-transform: capitalize;
}

.core_left p {
    color: var(--creamy-white);
    font-size: 1.15rem;
    line-height: 135%;
    color: #d6d6d6;
    margin-bottom: 2.8rem;
    width: 500px;
}

.core_left .cta {
    color: var(--creamy-white);
    background-color: var(--accent);
    padding: 12px 20px;
    border-radius: 4px;
    font-weight: 500;
    transition: all 400ms ease-in-out;
    color: #fff;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.core_left .cta:hover {
    color: var(--creamy-white);
    background-color: #af8e60ba;
}

.core_right {}

.core_right span {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.core_right .card {
    width: 256px;
    background-color: var(--creamy-white);
    text-align: center;
    padding: 1.8rem 1.6rem;
    border-radius: 12px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    border: 1.5px solid rgb(234 234 229);
}

.card .card_icon {
    height: 28px;
    width: 28px;
    fill: var(--blue);
    background-color: rgb(30 53 87 / 4%);
    padding: 10px;
    border-radius: 12px;
}

.card h3 {
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--blue);
}

.card p {
    font-size: 14px;
    line-height: 135%;
    color: var(--neutral-black);
    margin-bottom: 1.2rem;
    text-align: left;
}

.ready {
    padding: 108px 0;
    text-align: center;

    background-image: url('/img/white_bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.ready .custom_shape_divider_top_1735651852 {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.ready .custom_shape_divider_top_1735651852 svg {
    position: relative;
    display: block;
    width: calc(114% + 1.3px);
    height: 57px;
}

.ready .custom_shape_divider_top_1735651852 .shape_fill {
    fill: var(--blue);
}

.ready h3 {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--blue);
    margin-bottom: 1rem;
}

.ready p {
    color: var(--creamy-white);
    font-size: 1rem;
    line-height: 135%;
    color: #333;
    margin-bottom: 2.8rem;
}

.ready .cta {
    color: var(--creamy-white);
    background-color: var(--accent);
    padding: 16px 24px;
    border-radius: 4rem;
    font-weight: 500;
    transition: all 400ms ease-in-out;
    color: #fff;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.ready .cta:hover {
    color: var(--creamy-white);
    background-color: #af8e60ba;
}

/* MEDIA QUERIES */
/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 0px) and (max-width: 359px) {
    .hero_aboutus p {
        margin-top: 1rem;
    }

    .hero_aboutus h1 {
        font-size: 1.6rem;
    }

    .hero_aboutus .cta {
        margin-top: 2.4rem;
    }

    .about_content {
        padding: 96px 16px 64px 16px;
    }

    .about_content li p {
        font-size: 1rem;
    }

    .about_content .mission_container {
        gap: 2.4rem;
        flex-direction: column-reverse;
    }

    .mission_container .head {
        margin-top: 0.5rem;
    }

    .mission_container .content {
        font-size: 1rem;
    }

    .photo_duo {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-self: center;
    }

    .photo_duo img {
        width: 180px;
        height: auto;
    }

    .core_values {
        flex-direction: column-reverse;
        gap: 1.6rem;
        height: 100%;
        padding: 118px 36px 96px 36px;
    }

    .core_left {
        text-align: center;
    }

    .core_left p {
        font-size: 1rem !important;
        width: 200px;
    }

    .core_right span {
        flex-direction: column;
    }


    .core_right .card {
        width: 164px;
        padding: 1.2rem 1.2rem;
    }

    .card .card_icon {
        height: 24px;
        width: 24px;
        padding: 8px;
        border-radius: 8px;
    }

    .ready {
        padding: 124px 24px 124px 24px;
    }
}

@media screen and (min-width: 360px) and (max-width: 480px) {

    .hero_aboutus span {
        padding: 0 24px;
    }

    .hero_aboutus p {
        margin-top: 1rem;
    }

    .hero_aboutus h1 {
        font-size: 1.8rem;
    }

    .hero_aboutus .cta {
        margin-top: 2.8rem;
    }

    .about_content {
        padding: 96px 16px 64px 16px;
    }

    .about_content li p {
        font-size: 1rem;
    }

    .about_content .mission_container {
        gap: 2.4rem;
        flex-direction: column-reverse;
    }

    .mission_container .head {
        margin-top: 0.5rem;
    }

    .mission_container .content {
        font-size: 1rem;
    }

    .photo_duo {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-self: center;
    }

    .photo_duo img {
        /* width: auto; */
    }

    .core_values {
        flex-direction: column-reverse;
        gap: 1.6rem;
        height: 100%;
        padding: 118px 36px 96px 36px;
    }

    .core_left {
        text-align: center;
    }

    .core_left p {
        font-size: 1rem !important;
        width: 350px;
    }


    .core_right span {
        flex-direction: column;
    }

    .ready {
        padding: 124px 24px 124px 24px;
    }
}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .hero_aboutus p {
        margin-top: 1rem;
    }

    .hero_aboutus h1 {
        font-size: 2.2rem;
    }

    .hero_aboutus .cta {
        margin-top: 2.8rem;
    }

    .about_content {
        padding: 96px 36px 64px 36px;
    }

    .about_content li p {
        font-size: 1rem;
    }

    .about_content .mission_container {
        gap: 2.4rem;
        flex-direction: column-reverse;
    }

    .mission_container .head {
        margin-top: 0.5rem;
    }

    .mission_container .content {
        font-size: 1rem;
    }

    .photo_duo {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-self: center;
    }

    .photo_duo img {
        /* width: auto; */
    }

    .core_values {
        flex-direction: column-reverse;
        gap: 1.6rem;
        height: 100%;
        padding: 118px 36px 72px 36px;
    }

    .core_left {
        text-align: center;
    }

    .core_left p {
        font-size: 1rem !important;
        width: 440px;
    }


    .core_right span {
        flex-direction: column;
    }


    .ready {
        padding: 108px 0 84px 0;
    }
}

/* SMALL SCREEN */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .hero_aboutus p {
        margin-top: 1rem;
    }

    .hero_aboutus h1 {
        font-size: 2.2rem;
    }

    .hero_aboutus .cta {
        margin-top: 2.8rem;
    }

    .about_content {
        padding: 96px 48px 72px 48px;
    }

    .about_content li p {
        font-size: 1rem;
    }

    .about_content .mission_container {
        gap: 2.4rem;
    }

    .mission_container .head {
        margin-top: 0.5rem;
    }

    .mission_container .content {
        font-size: 1rem;
    }

    .photo_duo {
        height: fit-content;
    }

    .core_values {
        flex-direction: column-reverse;
        gap: 1.6rem;
        height: 100%;
        padding: 118px;
    }

    .core_left {
        text-align: center;
    }

}

/* DESKTOP AND LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {

    .hero_aboutus p {
        margin-top: 1rem;
    }

    .hero_aboutus h1 {
        font-size: 2.2rem;
    }

    .hero_aboutus .cta {
        margin-top: 2.8rem;
    }

    .core_values {
        flex-direction: column-reverse;
        gap: 1.6rem;
        height: 100%;
        padding: 118px 0;
    }

    .core_left {
        text-align: center;
    }
}

/* EXTRA LARGE SCREENS & TV */
@media screen and (min-width: 1201px) and (max-width: 1400px) {
    .core_values {
        gap: 3.2rem;
    }
}