:root {}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #000;
}

body {
  padding: 0;
  font-family: 'Roboto', sans-serif;
  cursor: default;
}


/* CUSTOM SCROLL CSS */
::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* BUBBLE EFFECT */
.BubbleEff {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(236, 32%, 26%);
  overflow: hidden;
  transition: color 0.4s ease-in-out;
}

.BubbleEff::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 100%;
  right: 100%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #afafaf;
  transform-origin: center;
  transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
  transition: transform 0.45s ease-in-out;
}

.BubbleEff:hover {
  cursor: pointer;
  color: #161616;
}

.BubbleEff:hover::before {
  transform: translate3d(600%, -50%, 0) scale3d(15, 15, 15);
}

/* MEDIA QUERIES */
/* SMALL MOBILE DEVICES OR FOR EXPREMENTING PEOPLE */
@media screen and (min-width: 0px) and (max-width: 360px) {}

/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 360px) and (max-width: 480px) {}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {}

/* SMALL SCREEN AND LAPTOP (LIKE ME!! LOL🤣) */
@media screen and (min-width: 769px) and (max-width: 1024px) {}

/* DESKTOP AND LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {}

/* EXTRA LARGE SCREENS & TV */
@media screen and (min-width: 1201px) {
  
}