:root {
  --blue: #1D3557;
  --creamy-white: #F4F1EA;
  --accent: #AF8E60;
  --neutral-black: #333333;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  cursor: default;
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

a {
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* input number slider */
input[type=number] {
  -moz-appearance: textfield;
}

/* SCROLL CSS */
body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
  padding: 2em;
  background-color: var(--creamy-white);
}

body::-webkit-scrollbar-thumb {
  background-color: #1a2d49;
  border-radius: 0.5em;
}

/* Highlight Effect */
.highlight_effect {
  position: relative;
  z-index: 1;
}

.highlight_effect::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: -0.25em;
  right: -0.25em;
  background-color: #4901a3;
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.highlight_effect:hover::before {
  transform: scaleX(1);
  transform-origin: center left;
}


/* Underline Effect */
.Underline_Eff {
  position: relative;
}

.Underline_Eff::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: rgb(180, 130, 251);
  background-image:
    radial-gradient(at 47% 22%, hsla(300, 9%, 3%, 1) 0px, transparent 50%),
    radial-gradient(at 23% 43%, hsla(239, 74%, 8%, 1) 0px, transparent 50%),
    radial-gradient(at 66% 51%, hsla(266, 54%, 12%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(136, 100%, 4%, 1) 0px, transparent 50%),
    radial-gradient(at 98% 98%, hsla(273, 100%, 1%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(0, 100%, 0%, 1) 0px, transparent 50%);
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.Underline_Eff:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

/* MEDIA QUERIES */
/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 360px) and (max-width: 480px) {}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {}

/* SMALL SCREEN */
@media screen and (min-width: 769px) and (max-width: 1024px) {}

/* DESKTOP AND LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {}

/* EXTRA LARGE SCREENS & TV */
@media screen and (min-width: 1201px) {}