:root {
  --blue: #1D3557;
  --creamy-white: #F4F1EA;
  --accent: #AF8E60;
  --neutral-black: #333333;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f5ed;
  backdrop-filter: blur(8px);
  cursor: default;

  overflow-x: hidden;
}

a {
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.shine_eff {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(236, 32%, 26%);
  overflow: hidden;
  cursor: pointer;
}

.shine_eff::after {
  content: '';
  z-index: -1;
  background-color: hsla(0, 0%, 100%, 0.2);
  position: absolute;
  top: -50%;
  bottom: -50%;
  width: 1.25em;
  transform: translate3d(-625%, 0, 0) rotate(35deg);
}

.shine_eff:hover::after {
  transition: transform 0.45s ease-in-out;
  transform: translate3d(450%, 0, 0) rotate(35deg);
}


@font-face {
  font-family: 'BriemHand';
  src: url('/fonts/BriemHand-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BriemHand';
  src: url('/fonts/BriemHand-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'BriemHand';
  src: url('/fonts/BriemHand-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'BriemHand';
  src: url('/fonts/BriemHand-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'BriemHand';
  src: url('/fonts/BriemHand-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* scroll bar css */
/* SCROLL CSS */
body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
  padding: 2em;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 0.5em;
}


.bubble_eff {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(236, 32%, 26%);
  overflow: hidden;
  transition: color 0.4s ease-in-out;
}

.bubble_eff::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 100%;
  right: 100%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: var(--blue);
  transform-origin: center;
  transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
  transition: transform 0.45s ease-in-out;
}

.bubble_eff:hover {
  cursor: pointer;
  color: #161616;
}

.bubble_eff:hover::before {
  transform: translate3d(275%, -50%, 0) scale3d(15, 15, 15);
}