:root {}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #000;
}

body {
  padding: 0;
  font-family: 'Roboto', sans-serif;
  cursor: default;
}


/* CUSTOM SCROLL CSS */
::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}