.main {
  display: flex;
  align-items: center;

  justify-content: center;
  height: 80vh;
}

.main .container {
  color: aliceblue;
  font-size: 7rem;
  font-weight: 700;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
}

.main .container p {
  text-align: center;
}


.hun {
  color: red;
}