.main {
  display: flex;
  flex-direction: column;
  gap: 6em;
}

.main .container {
  color: aliceblue;
  font-size: 5rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10em;
}

.main .container p {
  text-align: center;
}

.hun {
  color: red;
}

.final {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.4em;
}

.final p {
  font-size: 1.8em;
  color: #fff;
}

.final .cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.final .cta .btn {
  border: 1px solid #fff;
  background-color: #fff;
  color: #232323;
  font-size: 1em;
  padding: 0.3em 0.8em;
  border-radius: 0.25em;
  font-weight: 500;

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

/* MEDIA QUERIES */
/* SMALL MOBILE DEVICES OR FOR EXPREMENTING PEOPLE */
@media screen and (min-width: 0px) and (max-width: 360px) {
}

/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 360px) and (max-width: 480px) {
}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {
}

/* SMALL SCREEN AND LAPTOP (LIKE ME!! LOL🤣) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
}

/* DESKTOP AND LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
}

@media screen and (min-width: 1201px) and (max-width: 1390px) {
  .main .container {
    font-size: 4rem;
  }
}