.herosection {
    z-index: 0;
    background-image: radial-gradient(circle closest-corner at 0 31%, #af8e604a, #fff);
}

.herosection .herosectionConatiner {
    max-width: 1150px;
    margin: 0 auto;
    height: 100%;
    padding: 7.2rem 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

.herosectionConatiner .capsule {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--accent);
    background-color: #af8e6030;
    border-radius: 1rem;
    padding: 3px 15px;
    box-shadow: 0 0 0px 2px #af8e605e;
    border: 1px solid var(--accent);
    margin-bottom: 1rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.herosectionConatiner .heroHeading {
    font-size: 2.8rem;
    color: var(--neutral-black);
    text-align: left;
    font-weight: 600;
    line-height: 135%;
    width: 100%;
    text-transform: capitalize;
}

.herosectionConatiner p {
    width: 548px;
    line-height: 155%;
    font-weight: 400;
    font-size: 1.2rem;
    color: #6e6e6e;
    margin-top: 0.8rem;
    margin-bottom: 2.8rem;
}

.herosectionConatiner .cta {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    padding: 1.2rem 1.4rem;
    border-radius: 1.8rem;
    font-weight: 500;
    transition: all 400ms ease-in-out;
    font-size: 1rem;

    color: #fff;
    box-shadow: 4px 4px 11px #ddd;
    background-image: linear-gradient(to right top, #af8e60, #a9885a, #a28254, #9c7c4e, #967648);
    cursor: pointer;
}

.herosectionConatiner .cta img {
    background-color: #f7f5ed;
    height: 20px;
    width: 20px;
    padding: 0.5rem;
    border-radius: 50%;
}

.herosectionConatiner .cta img {
    transition: transform 0.3s ease-in-out;
}

.herosectionConatiner .cta:hover img {
    transform: rotate(45deg);
}

.herosectionConatiner .cta:hover {
    color: var(--creamy-white);
    background-color: #af8e60ba;
    filter: brightness(1.1);
}

.right {
    position: relative;
}

.right img {
    border-radius: 0.8rem;
    box-shadow: 4px 4px 11px #ddd;
    border: 5px solid #1f355633;
}

.right::before {
    content: "";
    position: absolute;
    bottom: 30px;
    right: -60px;
    background-image: url('/img/product-flame-card.webp');
    z-index: 0;
    width: 220px;
    height: 220px;
    background-size: contain;
    background-repeat: no-repeat;
    animation: floatUpDown 4s ease-in-out infinite;
    pointer-events: none;
}

@keyframes floatUpDown {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }
}

.whatsappChannelCTA {
    background-color: #f3f1ea;
    padding: 3.2rem 0;
}

.whatsappChannelContainer {
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.whatsappChannelContainer h3 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #484848;
    text-align: left;
    line-height: 135%;
    width: 500px;
}

.whatsappChannelContainer .whatsappChannelBtn {
    gap: 0.8rem;
    padding: 1.2rem 1.6rem;
    border-radius: 1.8rem;
    font-weight: 500;
    transition: all 400ms ease-in-out;
    font-size: 1rem;
    color: #fff;
    box-shadow: 4px 4px 11px #ddd;
    cursor: pointer;
    background-color: #128c7e;
}

.whatsappChannelContainer .whatsappChannelBtn:hover {
    filter: brightness(1.1);
}

.product_category {
    padding: 96px;
    background-image: linear-gradient(to bottom, #ffffff, #fdfbfc, #fcf7f7, #faf3f0, #f4f1ea);
}

.product_category h2 {
    font-size: 1.8rem;
    text-transform: capitalize;
    font-weight: 700;
    color: var(--blue);
    text-align: center;
    line-height: 155%;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 6px;
    -webkit-text-decoration-color: #af8e60a3;
    text-decoration-color: #af8e60a3;
}

.grid_container {
    width: 65%;
    padding: 48px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 0 auto;
    gap: 1rem;
}

.grid_container .category_box {
    padding: 3.2rem 1rem;
    text-align: center;
    background-color: rgb(30 53 87 / 2%);
    border-radius: 4px;
}

.category_box img {
    height: 48px;
    width: auto;
}

.category_box h1 {
    margin-top: 5px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--blue);
}


/* MEDIA QUERIES */
@media screen and (min-width: 0px) and (max-width: 359px) {
    .herosectionConatiner .left {
        text-align: left;
    }

    .herosection .herosectionConatiner {
        padding: 3.2rem 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.4rem;
        margin: 0 auto;
        max-width: 85%;
    }

    .herosection .heroHeading {
        font-size: 2rem;
    }

    .herosection p {
        width: 100%;
        margin-bottom: 1.4rem;
        font-size: 1rem;
    }

    .right {
        position: relative;
    }

    .right img {
        margin: 0 auto;
        width: 95%;
    }

    .right::before {
        width: 160px;
        height: 160px;
        bottom: -30px;
        right: -15px;
    }

    .whatsappChannelCTA {
        padding: 2rem 0;

    }

    .whatsappChannelContainer {
        flex-direction: column;
    }

    .whatsappChannelContainer h3 {
        font-size: 1rem;
        width: 85%;
        text-align: center;
        margin-bottom: 1.4rem;
    }

    .whatsappChannelContainer .whatsappChannelBtn {
        font-size: 0.8rem;
    }

    .product_category {
        padding: 96px 24px 56px 24px;
    }

    .product_category h2 {
        font-size: 1.3rem;
    }

    .grid_container {
        width: 90%;
        padding: 2.8rem 0;
        grid-template-columns:
            repeat(auto-fit, minmax(118px, 1fr));
        gap: 0.6rem;
    }

    .grid_container .category_box {
        padding: 2rem 1rem;
    }

    .category_box img {
        height: 32px;
    }
}

/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 360px) and (max-width: 480px) {
    .herosectionConatiner .left {
        text-align: left;
    }

    .herosection .herosectionConatiner {
        padding: 3.2rem 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.4rem;
        margin: 0 auto;
        max-width: 85%;
    }

    .herosection .heroHeading {
        font-size: 2rem;
    }

    .herosection p {
        width: 100%;
        margin-bottom: 1.4rem;
        font-size: 1rem;
    }

    .right {
        position: relative;
    }

    .right img {
        margin: 0 auto;
        width: 95%;
    }

    .right::before {
        width: 180px;
        height: 180px;
        bottom: -30px;
        right: -15px;
    }

    .whatsappChannelCTA {
        padding: 2rem 0;

    }

    .whatsappChannelContainer {
        flex-direction: column;
    }

    .whatsappChannelContainer h3 {
        font-size: 1.2rem;
        width: 85%;
        text-align: center;
        margin-bottom: 1.4rem;
    }

    .product_category {
        padding: 96px 24px 56px 24px;
    }

    .product_category h2 {
        font-size: 1.3rem;
    }

    .grid_container {
        width: 90%;
        padding: 2.8rem 0;
        grid-template-columns:
            repeat(auto-fit, minmax(118px, 1fr));
        gap: 0.6rem;
    }

    .grid_container .category_box {
        padding: 2rem 1rem;
    }

    .category_box img {
        height: 32px;
    }
}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .herosectionConatiner .left {
        text-align: left;
    }

    .herosection .herosectionConatiner {
        padding: 4.8rem 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.4rem;
        margin: 0 auto;
        max-width: 85%;
    }

    .herosection .heroHeading {
        font-size: 2.4rem;
    }

    .herosection p {
        width: 100%;
        margin-bottom: 1.4rem;
    }

    .right {
        position: relative;
    }

    .right img {
        margin: 0 auto;
        width: 95%;
    }

    .right::before {
        width: 180px;
        height: 180px;
        bottom: 15px;
        right: -15px;
    }

    .whatsappChannelCTA {
        padding: 2rem 0;

    }

    .whatsappChannelContainer {
        flex-direction: column;
    }

    .whatsappChannelContainer h3 {
        font-size: 1.2rem;
        width: 85%;
        text-align: center;
        margin-bottom: 1.4rem;
    }

    .product_category {
        background-color: #f3f1ea;
        padding: 96px 42px;
    }

    .product_category h2 {
        font-size: 1.4rem;
    }

    .grid_container {
        width: 90%;
        padding: 2.8rem 0;
        grid-template-columns:
            repeat(auto-fit, minmax(136px, 1fr));
        gap: 1rem;
    }

    .grid_container .category_box {
        padding: 2.8rem 1rem;
    }

    .category_box img {
        height: 42px;
    }
}

/* SMALL SCREEN */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .herosectionConatiner .left {
        text-align: left;
    }

    .herosection .herosectionConatiner {
        padding: 4.8rem 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 3.6rem;
        margin: 0 auto;
        max-width: 700px;
    }

    .right {
        position: relative;
    }

    .right img {
        margin: 0 auto;
        width: 100%;
    }

    .right::before {
        right: -25px;
    }

    .whatsappChannelContainer {
        justify-content: space-around;
    }

    .whatsappChannelContainer h3 {
        font-size: 1.2rem;
        width: 50%;
    }

    .grid_container {
        width: 100%;
        padding: 2.8rem 0;
        grid-template-columns:
            repeat(auto-fit, minmax(156px, 1fr));
        gap: 1rem;
    }

    .grid_container .category_box {
        padding: 2.8rem 1rem;
    }

    .category_box img {
        height: 42px;
    }
}

/* DESKTOP AND LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {

    .herosection .heroHeading {
        font-size: 2.4rem;
    }

    .herosection .herosectionConatiner {
        padding: 6.8rem 0;
        justify-content: center;
        gap: 1.8rem;
    }

    .right img {
        width: 336px;
    }

    .right::before {
        width: 200px;
        height: 200px;
        bottom: -30px;
        right: -30px;
    }

    .whatsappChannelContainer {
        justify-content: space-around;
    }

    .grid_container {
        width: 90%;
        padding: 2.8rem 0;
    }
}

/* EXTRA LARGE SCREENS & TV */
@media screen and (min-width: 1201px) and (max-width: 1405px) {
    .herosection .herosectionConatiner {
        padding: 6.8rem 0;
        justify-content: center;
        gap: 2.4rem;
    }

    .right img {
        width: 384px;
    }

    .whatsappChannelContainer {
        justify-content: space-around;
    }

    .grid_container {
        width: 80%;
        padding: 2.8rem 0;
    }
}