.hero_product {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 90vh;

    background: linear-gradient(0deg, #15263e 0%, rgb(247 245 237) 100%);
    z-index: 0;

}

.product_container {
    display: flex;
    width: 100%;
}

.hero_product .leftSide {
    width: 40%;
    margin-top: 2.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftSide p {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--creamy-white);
    background-color: #af8e6030;
    border-radius: 1rem;
    padding: 3px 12px;
    box-shadow: 0 0 0px 2px #af8e605e;
    border: 1px solid var(--accent);
    margin-bottom: 1rem;
}

.leftSide h1 {
    font-size: 2.4rem;
    font-weight: 800;
    color: var(--creamy-white);
    line-height: 125%;
    text-transform: capitalize;
    text-align: center;
}

.leftSide .cta {
    margin-top: 3.6rem;
    color: var(--creamy-white);
    background-color: var(--accent);
    padding: 16px 24px;
    border-radius: 4rem;
    font-weight: 600;
    transition: all 400ms ease-in-out;
    color: #fff;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.leftSide .cta:hover {
    color: var(--creamy-white);
    background-color: #af8e60ba;
}

.custom_shape_divider_bottom_1735337911 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom_shape_divider_bottom_1735337911 svg {
    position: relative;
    display: block;
    width: calc(106% + 1.3px);
    height: 31px;
}

.custom_shape_divider_bottom_1735337911 .shape_fill {
    fill: var(--creamy-white);
}


.rightSide {
    max-width: 800px;
    margin-inline: auto;
    display: grid;
    gap: 0.5rem;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(8, 1fr);

    grid-template-areas:
        "..   two two    two    three  four ..    .."
        "one  two two    two    five   five six   .."
        "..   two two    two    five   five seven eight"
        "nine ten eleven eleven twelve ..   ..    .."
        "..   ..  eleven eleven ..     ..   ..    ..";
}

.rightSide > div {
    overflow: hidden;
    border-radius: 0.5rem;
}

.rightSide img {
    width: 100%;
    aspect-ratio: 1;
    display: block;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.rightSide img:hover {
    scale: 1.15;
    rotate: 3deg;
}

.rightSide :nth-child(1) {
    grid-area: one;
}

.rightSide :nth-child(2) {
    grid-area: two;
}

.rightSide :nth-child(3) {
    grid-area: three;
}

.rightSide :nth-child(4) {
    grid-area: four;
    background-color: #ffecc3;
    border-bottom-right-radius: 100%;
}

.rightSide :nth-child(5) {
    grid-area: five;
}

.rightSide :nth-child(6) {
    grid-area: six;
    background-color: #ccf0ee;
    border-top-right-radius: 100%;
}

.rightSide :nth-child(7) {
    grid-area: seven;
}

.rightSide :nth-child(8) {
    grid-area: eight;
    background-color: #cdd7f0;
    border-radius: 100%;
}

.rightSide :nth-child(9) {
    grid-area: nine;
    background-color: #ffdce0;
    border-top-left-radius: 100%;
}

.rightSide :nth-child(10) {
    grid-area: ten;
}

.rightSide :nth-child(11) {
    grid-area: eleven;
}

.rightSide :nth-child(12) {
    grid-area: twelve;
}


.product_category {
    background-color: #f3f1ea;
    padding: 96px;
}

.product_category h2 {
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: 700;
    color: var(--blue);
    text-align: center;
    line-height: 135%;
}

.grid_container {
    width: 65%;
    padding: 48px 0;
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(200px, 1fr));
    justify-self: center;
    gap: 1rem;
}

.grid_container .category_box {
    padding: 3.2rem 1rem;
    text-align: center;
    background-color: rgb(30 53 87 / 2%);
    border-radius: 4px;
}

.category_box img {
    height: 48px;
    width: auto;
}

.category_box h1 {
    margin-top: 5px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--blue);
}

/* MEDIA QUERIES */
/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 0) and (max-width: 360px) {
    .hero_product .leftSide {
        width: 100%;
    }

    .product_category h2 {
        font-size: 1.2rem;
    }

    .leftSide h1 {
        font-size: 1.6rem;
        width: 100%;
    }

    .rightSide {
        display: none;
    }

    .product_container {
        flex-direction: column;
        gap: 2.4rem;
        align-items: center;
    }

    .product_category {
        padding: 72px 12px 4px 12px;
    }

    .grid_container {
        width: 90%;
    }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
    .hero_product .leftSide {
        width: 100%;
    }


    .leftSide h1 {
        font-size: 2.2rem;
        width: 100%;
    }

    .rightSide {
        display: none;
    }

    .product_container {
        flex-direction: column;
        gap: 2.4rem;
        align-items: center;
    }

    .product_category {
        padding: 72px 12px 4px 12px;
    }

    .grid_container {
        width: 90%;
    }
}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .hero_product .leftSide {
        width: 100%;
    }


    .leftSide h1 {
        font-size: 2.2rem;
        width: 100%;
    }

    .rightSide {
        display: none;
    }

    .product_container {
        flex-direction: column;
        gap: 2.4rem;
        align-items: center;
    }

    .grid_container {
        width: 90%;
    }
}

/* SMALL SCREEN */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .rightSide {
        display: none;
    }

    .hero_product .leftSide {
        width: 100%;
    }

    .product_container {
        flex-direction: column;
        gap: 2.4rem;
        align-items: center;
        justify-content: center;
    }

    .grid_container {
        width: 90%;
    }
}

/* DESKTOP AND LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .rightSide {
        max-width: 500px;
    }
}