.main {}

.herosection {
    z-index: 0;
    background-image: radial-gradient(circle closest-corner at 0 31%, #af8e604a, #fff);
}

.herosection .herosectionConatiner {
    max-width: 1150px;
    margin: 0 auto;
    height: 100%;
    padding: 10% 0;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.herosectionConatiner .capsule {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--accent);
    background-color: #af8e6030;
    border-radius: 1rem;
    padding: 3px 15px;
    box-shadow: 0 0 0px 2px #af8e605e;
    border: 1px solid var(--accent);
    margin-bottom: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.herosectionConatiner .heroHeading {
    font-size: 2.8rem;
    color: var(--neutral-black);
    text-align: left;
    font-weight: 600;
    line-height: 135%;
    width: 100%;
}

.herosectionConatiner p {
    width: 548px;
    line-height: 155%;
    font-weight: 400;
    font-size: 1.2rem;
    color: #6e6e6e;
    margin-top: 0.8rem;
    margin-bottom: 2.8rem;
}

.herosectionConatiner .cta {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    padding: 1.2rem 1.4rem;
    border-radius: 1.8rem;
    font-weight: 500;
    transition: all 400ms ease-in-out;
    font-size: 1rem;

    color: #fff;
    box-shadow: 4px 4px 11px #ddd;
    background-image: linear-gradient(to right top, #af8e60, #a9885a, #a28254, #9c7c4e, #967648);
    cursor: pointer;
}

.herosectionConatiner .cta img {
    background-color: #f7f5ed;
    height: 20px;
    width: 20px;
    padding: 0.5rem;
    border-radius: 50%;
}

.herosectionConatiner .cta img {
    transition: transform 0.3s ease-in-out;
}

.herosectionConatiner .cta:hover img {
    transform: rotate(45deg);
}

.herosectionConatiner .cta:hover {
    color: var(--creamy-white);
    background-color: #af8e60ba;
    filter: brightness(1.1);
}

.container {
    display: flex;
    flex-direction: column;
}

.container h2 {
    padding: 84px 0 4px 0;
    font-size: 1.8rem;
    text-transform: capitalize;
    font-weight: 700;
    color: var(--blue);
    text-align: center;

    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 6px;
    -webkit-text-decoration-color: #af8e60a3;
    text-decoration-color: #af8e60a3;
}

.services {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.8rem;
    position: sticky;
    top: 0;
    padding: 108px 0;
}

.service_1,
.service_3 {
    background-image: linear-gradient(to bottom, #ffffff, #fdfbfc, #fcf7f7, #faf3f0, #f4f1ea);
}

.service_2,
.service_4 {
    background-image: linear-gradient(to bottom, #2a456c, #274167, #233d61, #20395c, #1d3557);
}

.services .content {
    width: 496px;
    margin-top: 1rem;
}

.service_1 .card_icon,
.service_3 .card_icon {
    height: 24px;
    width: 24px;
    fill: var(--blue);
    background-color: rgb(30 53 87 / 4%);
    padding: 10px;
    border-radius: 12px;
}


.service_2 .card_icon,
.service_4 .card_icon {
    height: 24px;
    width: 24px;
    background-color: rgb(56 76 104);
    padding: 10px;
    border-radius: 12px;
}

.services h3 {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--blue);
    margin-bottom: 0.8rem;
}

.services p {
    font-size: 1.2rem;
    line-height: 135%;
    letter-spacing: -0.1px;
    color: #626262;
    margin-bottom: 1.2rem;
}

.services ul {
    list-style-type: none;
    font-size: 1.2rem;
    line-height: 135%;
    letter-spacing: -0.1px;
    color: #626262;
    margin-bottom: 1.2rem;
}

.services ul li {
    display: flex;
    align-items: start;
    justify-content: center;
    margin-bottom: 1rem;
}

.services ul li img {
    margin-top: 2px;
    height: 20px;
    margin-right: 8px;
}

.services .right_img {
    height: auto;
    width: 356px;
    border-radius: 0.8rem;
    box-shadow: 4px 4px 11px #ddd;
    border: 5px solid #1f355633;
}

.service_2 .right_img,
.service_4 .right_img {
    box-shadow: 4px 4px 11px #172741;
    border: 5px solid #cfced3;
}

.service_2 h3,
.service_4 h3 {
    color: var(--creamy-white);
}


.service_2 p,
.service_4 p {
    color: var(--creamy-white);
}

.service_2 ul,
.service_4 ul {
    color: #dfdfdf;
}

.service_4 {
    border-bottom: 1px solid #af8e603b;
}


/* MEDIA QUERIES */
@media screen and (min-width: 0px) and (max-width: 359px) {
    .hero_services {
        height: 100%;
        padding: 184px 16px;
    }

    .hero_services h1 {
        font-size: 1.4rem;
        text-align: center;
    }

    .container h2 {
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 224px;
        margin: 0 auto;
    }

    .services .content {
        width: 216px;
    }

    .services ul li img {
        margin-top: 2px;
        height: 18px;
        margin-right: 8px;
    }

    .services h3 {
        font-size: 1.2rem;
    }

    .services p {
        font-size: 1rem;
    }

    .services ul {
        font-size: 1rem;
    }

    .services .right_img {
        display: none;
    }
}

/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 360px) and (max-width: 480px) {
    .hero_services {
        height: 100%;
        padding: 184px 16px;
    }

    .hero_services h1 {
        font-size: 1.6rem;
        text-align: center;
    }

    .container h2 {
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 356px;
        margin: 0 auto;
    }

    .services {
        gap: 1.6rem;
    }

    .services .content {
        width: 324px;
    }

    .services ul li img {
        margin-top: 2px;
        height: 18px;
        margin-right: 8px;
    }

    .services h3 {
        font-size: 1.2rem;
    }

    .services p {
        font-size: 1rem;
    }

    .services ul {
        font-size: 1rem;
    }

    .services .right_img {
        display: none;
    }
}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .hero_services {
        height: 100%;
        padding: 184px 16px;
    }

    .hero_services h1 {
        font-size: 1.8rem;
        text-align: center;
    }

    .container h2 {
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 356px;
        margin: 0 auto;
        /* background-color: var(--creamy-white); */

        font-size: 1.4rem;
        display: flex;
        align-items: center;
        /* Center text vertically */
        justify-content: center;
        /* Center text horizontally */
        width: 356px;
        /* Fixed width */
        height: 100%;
        /* Fill the entire parent's height */
        margin: 0 auto;
        /* Center horizontally within the parent */
        background-color: var(--creamy-white);
        /* Apply background color */
        text-align: center;
        /* Center text within the box */
        box-sizing: border-box;
        /* Ensures padding doesn't affect width/height */
    }

    .services {
        gap: 1.6rem;
    }

    .services .content {
        width: 396px;
    }

    .services ul li img {
        margin-top: 2px;
        height: 18px;
        margin-right: 8px;
    }

    .services h3 {
        font-size: 1.2rem;
    }

    .services p {
        font-size: 1rem;
    }

    .services ul {
        font-size: 1rem;
    }

    .services .right_img {
        display: none;
    }
}

/* SMALL SCREEN */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .hero_services {
        height: 100%;
        padding: 184px 36px;
    }

    .hero_services h1 {
        font-size: 1.8rem;
    }

    .container h2 {
        font-size: 1.4rem;
    }

    .services {
        gap: 1.8rem;
    }

    .services .content {
        width: 400px;
    }

    .service_1 .card_icon,
    .service_3 .card_icon {
        height: 20px;
        width: 20px;
    }

    .service_2 .card_icon,
    .service_4 .card_icon {
        height: 20px;
        width: 20px;
    }

    .services ul li img {
        margin-top: 2px;
        height: 18px;
        margin-right: 8px;
    }

    .services h3 {
        font-size: 1.2rem;
    }

    .services p {
        font-size: 1rem;
    }

    .services ul {
        font-size: 1rem;
    }

    .services .right_img {
        height: 284px;
        width: auto;
    }
}

/* DESKTOP AND LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {

    .hero_services {
        height: 100%;
        padding: 184px;
    }

    .hero_services h1 {
        font-size: 2.2rem;
    }

    .container h2 {
        font-size: 1.6rem;
    }

    .services p {
        font-size: 1rem;
    }

    .services ul {
        font-size: 1rem;
    }
}