.main {
    background-color: var(--creamy-white);
}

.hero_services {
    height: 90vh;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background: linear-gradient(0deg, #15263e 0%, rgb(247 245 237) 100%);
    z-index: 0;
}

.hero_services span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero_services p {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--creamy-white);
    background-color: #af8e6096;
    border-radius: 1rem;
    padding: 3px 12px;
    box-shadow: 0 0 0px 2px #af8e605e;
    border: 1px solid var(--accent);
    margin-bottom: 0.2rem;
}

.hero_services h1 {
    font-size: 2.8rem;
    font-weight: 800;
    color: #fff;
    line-height: 125%;
    text-transform: capitalize;
}

.hero_services .cta {
    margin-top: 3.6rem;
    color: var(--creamy-white);
    background-color: var(--accent);
    padding: 16px 24px;
    border-radius: 4rem;
    font-weight: 600;
    transition: all 400ms ease-in-out;
    color: #fff;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.hero_services .cta:hover {
    color: var(--creamy-white);
    background-color: #af8e60ba;
}

.custom_shape_divider_bottom_1735337911 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom_shape_divider_bottom_1735337911 svg {
    position: relative;
    display: block;
    width: calc(106% + 1.3px);
    height: 31px;
}

.custom_shape_divider_bottom_1735337911 .shape_fill {
    fill: var(--creamy-white);
}

.main h2 {
    margin-top: 96px;
    font-size: 1.8rem;
    text-transform: capitalize;
    font-weight: 700;
    color: var(--blue);
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.services {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.8rem;
    position: sticky;
    top: 0;
    padding: 108px 0;
}

.service_1,
.service_3 {
    background-color: var(--creamy-white);
}

.service_2,
.service_4 {
    background-color: var(--blue);
}

.services .content {
    width: 496px;
    margin-top: 1rem;
}

.service_1 .card_icon,
.service_3 .card_icon {
    height: 24px;
    width: 24px;
    fill: var(--blue);
    background-color: rgb(30 53 87 / 4%);
    padding: 10px;
    border-radius: 12px;
}


.service_2 .card_icon,
.service_4 .card_icon {
    height: 24px;
    width: 24px;
    background-color: rgb(56 76 104);
    padding: 10px;
    border-radius: 12px;
}

.services h3 {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--blue);
    margin-bottom: 0.8rem;
}

.services p {
    font-size: 1.2rem;
    line-height: 135%;
    letter-spacing: -0.1px;
    color: #626262;
    margin-bottom: 1.2rem;
}

.services ul {
    list-style-type: none;
    font-size: 1.2rem;
    line-height: 135%;
    letter-spacing: -0.1px;
    color: #626262;
    margin-bottom: 1.2rem;
}

.services ul li {
    display: flex;
    align-items: start;
    justify-content: center;
    margin-bottom: 1rem;
}

.services ul li img {
    margin-top: 2px;
    height: 20px;
    margin-right: 8px;
}

.services .right_img {
    height: 448px;
    width: auto;
    background-color: #af8e60bd;
    padding: 4px;
    border-radius: 4px;
}

.service_2 h3,
.service_4 h3 {
    color: var(--creamy-white);
}


.service_2 p,
.service_4 p {
    color: var(--creamy-white);
}

.service_2 ul,
.service_4 ul {
    color: #dfdfdf;
}

.service_4 {
    border-bottom: 1px solid #af8e603b;
}


/* MEDIA QUERIES */
@media screen and (min-width: 0px) and (max-width: 359px) {
    .hero_services {
        height: 100%;
        padding: 184px 16px;
    }

    .hero_services h1 {
        font-size: 1.4rem;
        text-align: center;
    }

    .main h2 {
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 224px;
        align-self: center;
        justify-self: center;
    }

    .services .content {
        width: 216px;
    }

    .services ul li img {
        margin-top: 2px;
        height: 18px;
        margin-right: 8px;
    }

    .services h3 {
        font-size: 1.2rem;
    }

    .services p {
        font-size: 1rem;
    }

    .services ul {
        font-size: 1rem;
    }

    .services .right_img {
        display: none;
    }
}

/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 360px) and (max-width: 480px) {
    .hero_services {
        height: 100%;
        padding: 184px 16px;
    }

    .hero_services h1 {
        font-size: 1.6rem;
        text-align: center;
    }

    .main h2 {
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 356px;
        align-self: center;
        justify-self: center;
    }

    .services {
        gap: 1.6rem;
    }

    .services .content {
        width: 324px;
    }

    .services ul li img {
        margin-top: 2px;
        height: 18px;
        margin-right: 8px;
    }

    .services h3 {
        font-size: 1.2rem;
    }

    .services p {
        font-size: 1rem;
    }

    .services ul {
        font-size: 1rem;
    }

    .services .right_img {
        display: none;
    }
}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .hero_services {
        height: 100%;
        padding: 184px 16px;
    }

    .hero_services h1 {
        font-size: 1.8rem;
        text-align: center;
    }

    .main h2 {
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 356px;
        align-self: center;
        justify-self: center;
    }

    .services {
        gap: 1.6rem;
    }

    .services .content {
        width: 396px;
    }

    .services ul li img {
        margin-top: 2px;
        height: 18px;
        margin-right: 8px;
    }

    .services h3 {
        font-size: 1.2rem;
    }

    .services p {
        font-size: 1rem;
    }

    .services ul {
        font-size: 1rem;
    }

    .services .right_img {
        display: none;
    }
}

/* SMALL SCREEN */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .hero_services {
        height: 100%;
        padding: 184px 36px;
    }

    .hero_services h1 {
        font-size: 1.8rem;
    }

    .main h2 {
        font-size: 1.4rem;
    }

    .services {
        gap: 1.8rem;
    }

    .services .content {
        width: 400px;
    }

    .service_1 .card_icon,
    .service_3 .card_icon {
        height: 20px;
        width: 20px;
    }

    .service_2 .card_icon,
    .service_4 .card_icon {
        height: 20px;
        width: 20px;
    }

    .services ul li img {
        margin-top: 2px;
        height: 18px;
        margin-right: 8px;
    }

    .services h3 {
        font-size: 1.2rem;
    }

    .services p {
        font-size: 1rem;
    }

    .services ul {
        font-size: 1rem;
    }

    .services .right_img {
        height: 284px;
        width: auto;
    }
}

/* DESKTOP AND LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {

    .hero_services {
        height: 100%;
        padding: 184px;
    }

    .hero_services h1 {
        font-size: 2.2rem;
    }

    .main h2 {
        font-size: 1.6rem;
    }

    .services p {
        font-size: 1rem;
    }

    .services ul {
        font-size: 1rem;
    }
}