.main_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  width: 100%;
  height: auto;
  color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
}

.container {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.container .text_box h1 {
  font-size: 1.8em;
  text-align: left;
}

.container img {
  border-radius: 3px;
}

.container .text_box {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.container .text_box p {
  font-size: 1.2em;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
