.main_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  width: 100%;
  height: auto;
  color: #fff;
  margin-bottom: 6em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
}

.container {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.container .text_box h1 {
  font-size: 1.8em;
  text-align: left;
}

.container img {
  border-radius: 3px;
}

.container .text_box {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.container .text_box p {
  font-size: 1.2em;
  font-weight: 400;
}

.highlight {
  color: red;
}
