.main_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  width: 100%;
  height: auto;
  color: #fff;
  margin-bottom: 6em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
}

.container {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.container .text_box h1 {
  font-size: 1.8em;
  text-align: left;
}

.container img {
  border-radius: 3px;
  height: 400px;
}

.container .text_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.container .text_box p {
  font-size: 1.1em;
  font-weight: 400;
}

.highlight {
  color: red;
}

@media screen and (min-width: 0px) and (max-width: 360px) {
  .main_section{
    margin-bottom: 0;
  }
  
    .container {
      flex-direction: column;
      gap: 1em;
    }
  
    .wrapper {
      width: 90vw;
    }
  
    .container img {
  width: 90vw;
    }
  
    .container .text_box h1 {
      font-size: 1.2em;
    }
  
    .container .text_box p {
      font-size: 15px; 
    }
  
    .container .text_box {
      gap: 0.5em;
    }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
.main_section{
  margin-bottom: 0;
}

  .container {
    flex-direction: column;
    gap: 1em;
  }

  .wrapper {
    width: 90vw;
  }

  .container img {
width: 90vw;
  }

  .container .text_box h1 {
    font-size: 1.2em;
  }

  .container .text_box p {
    font-size: 15px; 
  }

  .container .text_box {
    gap: 0.5em;
  }
}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 624px) {
  .container {
    gap: 1em;
  }

  .wrapper {
    width: 90vw;
  }

  .container img {
    height: 250px;
  }

  .container .text_box h1 {
    font-size: 1em;
  }

  .container .text_box p {
    font-size: 10.5px;
  }

  .container .text_box {
    gap: 0.5em;
  }
}

@media screen and (min-width: 625px) and (max-width: 768px) {
  .container {
    gap: 1em;
  }

  .wrapper {
    width: 90vw;
  }

  .container img {
    height: 300px;
  }

  .container .text_box h1 {
    font-size: 1em;
  }

  .container .text_box p {
    font-size: 13.3px;
  }

  .container .text_box {
    gap: 0.5em;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    gap: 1em;
  }

  .wrapper {
    width: 90vw;
  }

  .container .text_box h1 {
    font-size: 1.5em;
  }

  .container .text_box p {
    font-size: 1em;
  }

  .container .text_box {
    gap: 1em;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .wrapper {
    width: 81vw;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1390px) {
  .wrapper {
    width: 70vw;
  }
}