.main {
    background-color: #f7f5ed;
    padding: 148px;
    text-align: center;

    background-image: url('/img/white_bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.main .heading {
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--blue);
}

.main .desc {
    font-size: 1.1rem;
    line-height: 135%;
    letter-spacing: -0.1px;
    color: #626262;
    font-weight: 500;
}

.main .cta {
    margin-top: 3.2rem;
    color: var(--creamy-white);
    background-color: var(--accent);
    padding: 16px 24px;
    border-radius: 4rem;
    font-weight: 600;
    transition: all 400ms ease-in-out;
    color: #fff;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.main .cta:hover {
    color: var(--creamy-white);
    background-color: #af8e60ba;
}


/* MEDIA QUERIES */
@media screen and (min-width: 0px) and (max-width: 359px) {
    .main {
        background-color: #f7f5ed;
        padding: 148px 16px;
    }

    .main .heading {
        font-size: 1.2rem;
    }

    .main .desc {
        font-size: 1rem;
    }
}

/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 360px) and (max-width: 480px) {
    .main {
        background-color: #f7f5ed;
        padding: 148px 0;
    }

    .main .heading {
        font-size: 1.4rem;
    }

    .main .desc {
        font-size: 1rem;
    }
}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .main {
        background-color: #f7f5ed;
        padding: 148px 0;
    }

    .main .heading {
        font-size: 1.6rem;
    }

    .main .desc {
        font-size: 1rem;
    }
}

/* SMALL SCREEN */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .main .heading {
        font-size: 1.6rem;
    }

    .main .desc {
        font-size: 1rem;
    }
}

/* DESKTOP AND LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .main .heading {
        font-size: 1.6rem;
    }

    .main .desc {
        font-size: 1rem;
    }
}

/* EXTRA LARGE SCREENS & TV */
@media screen and (min-width: 1201px) {

    .main .heading {
        font-size: 1.6rem;
    }

    .main .desc {
        font-size: 1rem;
    }
}