.main {
    background-color: #f7f5ed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    padding: 96px 0 172px 0;
}

.main .heading {
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--blue);
}

.main .desc {
    color: #626262;
    font-size: 1.2rem;
    line-height: 135%;
    letter-spacing: -0.1px;
    font-weight: 500;
    width: 424px;
    margin-bottom: 2.8rem;
    text-align: center;
}

.main .cta {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    padding: 1.2rem 1.4rem;
    border-radius: 1.8rem;
    font-weight: 500;
    transition: all 400ms ease-in-out;
    font-size: 1rem;

    color: #fff;
    box-shadow: 4px 4px 11px #ddd;
    background-image: linear-gradient(to right top, #af8e60, #a9885a, #a28254, #9c7c4e, #967648);
    cursor: pointer;
}

.main .cta img {
    background-color: #f7f5ed;
    height: 20px;
    width: 20px;
    padding: 0.5rem;
    border-radius: 50%;
}

.main .cta img {
    transition: transform 0.3s ease-in-out;
}

.main .cta:hover img {
    transform: rotate(45deg);
}

.main .cta:hover {
    color: var(--creamy-white);
    background-color: #af8e60ba;
    filter: brightness(1.1);
}

.wavyBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wavyBottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 71px;
}

.wavyBottom .shapeFill {
    fill: var(--blue);
}

/* MEDIA QUERIES */
@media screen and (min-width: 0px) and (max-width: 359px) {
    .main {
        background-color: #f7f5ed;
        padding: 72px 0 156px 0;

    }

    .main .heading {
        width: 85%;
        text-align: center;
        margin: 0 auto;
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
    }

    .main .desc {
        width: 80%;
        margin: 0 auto;
        font-size: 1rem;
        margin-bottom: 2.4rem;
    }
}

/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 360px) and (max-width: 480px) {
    .main {
        background-color: #f7f5ed;
        padding: 72px 0 156px 0;
    }

    .main .heading {
        width: 85%;
        text-align: center;
        margin: 0 auto;
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
    }

    .main .desc {
        width: 80%;
        margin: 0 auto;
        font-size: 1rem;
        margin-bottom: 2.4rem;
    }
}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .main {
        background-color: #f7f5ed;
        padding: 72px 0 156px 0;
    }

    .main .heading {
        width: 70%;
        text-align: center;
        margin: 0 auto;
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
    }

    .main .desc {
        width: 90%;
        margin: 0 auto;
        font-size: 1rem;
        margin-bottom: 2.8rem;
    }
}

/* SMALL SCREEN */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .main .heading {
        font-size: 1.6rem;
    }

    .main .desc {
        font-size: 1rem;
    }
}

/* DESKTOP AND LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .main .heading {
        font-size: 1.6rem;
    }

    .main .desc {
        font-size: 1rem;
    }
}

/* EXTRA LARGE SCREENS & TV */
@media screen and (min-width: 1201px) and (max-width: 1400px) {

    .main .heading {
        font-size: 1.6rem;
    }

    .main .desc {
        font-size: 1rem;
    }
}