.reelsMain {
    overflow: hidden;
    border-radius: 0.8rem;
    box-shadow: 4px 4px 11px #ddd;
    border: 5px solid #1f355633;
}

.reelsMain iframe {
    height: 663px;
    width: 400px;
    border: none;
    overflow: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* border-radius: 12px; */
}