.reelsMain {
    overflow: hidden;
    border-radius: 0.8rem;
}

.reelsMain iframe {
    height: 660px;
    width: 400px;
    border: none;
    overflow: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-radius: 12px;
}