.timeline_main {
    background-color: #f8f5ed;
    padding: 108px 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.timeline_container {
    width: 1100px;
}

.timeline_main h2 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 3.6rem;
    font-weight: 700;
    color: #1D3557;
    text-transform: capitalize;
}

.timeline_main h2::after {
    content: "";
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url('/img/highlight.svg');
    background-size: cover;
    background-position: center;
    transform: rotate(15deg);
}

.timeline_element img {
    margin-bottom: 0.8rem;
    background-color: #d7d7d724;
    padding: 10px;
    border-radius: 12px;
}

.timeline_element h3 {
    color: var(--creamy-white);
    font-size: 1.1rem;
    font-weight: 700;
}

.timeline_element p {
    color: var(--creamy-white);

    font-size: 1rem;
    line-height: 135%;
    color: #d6d6d6;
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
}

.timeline_element_date {
    color: var(--accent) !important;
    font-size: 1.1rem !important;
    text-transform: capitalize;
    font-weight: 700 !important;
}

.timeline_element_icon {
    background-color: var(--accent);
    box-shadow: 0 0 0 4px #937449, inset 0 2px 0 rgba(0, 0, 0, .08), 0 3px 0 4px rgba(0, 0, 0, .05);
}

@media screen and (min-width: 0px) and (max-width: 359px) {
    .timeline_main {
        padding: 72px 0;
    }

    .timeline_main h2 {
        font-size: 1.4rem;
        margin-bottom: 2.8rem;
        width: 324px;
    }

    .timeline_main h2::after {
        content: "";
        display: none;
    }

    .timeline_main h3 {
        font-size: 1em;
    }

    .timeline_main h3:first-child {
        text-align: center;
    }

    .verticalTimeline_container {
        width: 90vw;
    }

    .card_title {
        font-size: 14px;
    }

    .card_title p {
        font-size: 12px;
    }

    .timeline_container {
        width: 90vw;
    }
}

@media screen and (min-width: 360px) and (max-width: 480px) {

    .timeline_main {
        padding: 72px 0;
    }

    .timeline_main h2 {
        font-size: 1.4rem;
        margin-bottom: 2.8rem;
        width: 324px;
    }

    .timeline_main h2::after {
        content: "";
        display: none;
    }

    .timeline_main h3 {
        font-size: 1em;
    }

    .timeline_main h3:first-child {
        text-align: center;
    }

    .verticalTimeline_container {
        width: 90vw;
    }

    .card_title {
        font-size: 14px;
    }

    .card_title p {
        font-size: 12px;
    }

    .timeline_container {
        width: 90vw;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    .timeline_main h2 {
        font-size: 1.6rem;
        margin-bottom: 2.8rem;
    }

    .timeline_main h3 {
        font-size: 1em;
    }

    .verticalTimeline_container {
        width: 350px;
    }

    .card_title {
        font-size: 13px;
    }

    .card_title p {
        font-size: 12px;
    }

    .timeline_container {
        width: 400px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .timeline_main h2 {
        font-size: 1.6rem;
    }

    .verticalTimeline_container {
        width: 484px;
    }

    .card_title {
        font-size: 12px;
    }

    .timeline_container {
        width: 600px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .timeline_main h2 {
        font-size: 1.8rem;
    }

    .verticalTimeline_container {
        width: 550px;
    }

    .card_title {
        font-size: 12px;
    }

    .timeline_container {
        width: 900px;
    }
}


@media screen and (min-width: 1201px) and (max-width: 1405px) {

    .timeline_main h2 {
        font-size: 1.8rem;
    }
}