.nav_main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 78px;
    border-bottom: 1px solid #af8e6021;
    -webkit-backdrop-filter: blur(11px);
    position: relative;
    z-index: 1;
}

.leftside_nav .nav_logo {
    height: 42px;
    cursor: default;
}

.rightside_nav .nav_ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 1.2rem;
}

.nav_ul .nav_li {
    text-transform: capitalize;
    font-weight: 500;
    color: #484848;
    font-size: 1rem;
    cursor: pointer;
    letter-spacing: -2%;
    transition: all 400ms ease-in-out;
}

.nav_ul .nav_li:hover {
    color: #484848b0;
}

.rightside_nav ul .cta_contact {
    margin-left: 1rem;
    padding: 14px 1.4rem;
    border-radius: 18px;
    font-weight: 500;
    transition: all 400ms ease-in-out;

    color: #fff;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 0.25rem;
    box-shadow: 4px 4px 11px #ddd;
    background-image: linear-gradient(to right top, #af8e60, #a9885a, #a28254, #9c7c4e, #967648);
}

.rightside_nav ul .cta_contact:hover {
    color: #fff;
    filter: brightness(1.15);
}

.hamburgerMenu,
.menuBox {
    display: none;
}

/* === MOBILE ONLY === */
@media screen and (max-width: 900px) {
    .nav_main {
        justify-content: space-between;
        padding: 0 1.4rem;
        background-color: #fff;
    }

    .rightside_nav .nav_ul {
        display: none;
    }

    .hamburgerMenu {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        border: 1.5px solid #af8e6021;
        padding: 10px;
        border-radius: 8px;
        background-color: #af8e601e;
    }

    .hamburgerMenu img {
        height: 28px;
        width: auto;
    }

    .menuBox {
        position: absolute;
        top: 5.8rem;
        left: 50%;
        transform: translateX(-50%);

        width: 93%;
        height: 80vh;
        margin: 0 auto;

        display: flex;
        opacity: 0.998;

        /* Glassmorphic effect */
        background: #fff;
        box-shadow: 0 8px 32px 0 #d2d2d200;
        -webkit-backdrop-filter: blur(44px);
        backdrop-filter: blur(44px);
        background-blend-mode: multiply;
        z-index: 9999;

        transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;

        border: 1.5px solid #af8e602d;
        border-radius: 8px;
    }

    .menuBoxList {
        list-style-type: none;
        font-size: 1rem;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 0.4px;

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 2.4rem;
        padding: 2.8rem;
    }

    .menuBoxList li {
        text-transform: capitalize;
        font-weight: 500;
        color: #484848;
        font-size: 1rem;
        cursor: pointer;
        letter-spacing: -2%;
        transition: all 400ms ease-in-out;
    }

    .hide {
        opacity: 0;
        visibility: hidden;
    }
}