.nav_mobile,
.nav_mobile_container {
    display: none;
}

.nav_main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 78px;
    border-bottom: 1px solid #af8e6021;
    -webkit-backdrop-filter: blur(11px);
    position: relative;
    z-index: 1;
}

.leftside_nav .nav_logo {
    height: 42px;
    cursor: default;
}

.rightside_nav .nav_ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 1.2rem;
}

.nav_ul .nav_li {
    text-transform: capitalize;
    font-weight: 500;
    color: var(--blue);
    color: #484848;
    font-size: 1rem;
    cursor: pointer;
    letter-spacing: -2%;
    transition: all 400ms ease-in-out;
}

.nav_ul .nav_li:hover {
    color: #484848b0;
}

.rightside_nav ul .cta_contact {
    margin-left: 1rem;
    padding: 14px 1.4rem;
    border-radius: 18px;
    font-weight: 500;
    transition: all 400ms ease-in-out;

    color: #fff;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 0.25rem;
    box-shadow: 4px 4px 11px #ddd;
    background-image: linear-gradient(to right top, #af8e60, #a9885a, #a28254, #9c7c4e, #967648);
}

.rightside_nav ul .cta_contact:hover {
    color: #fff;
    filter: brightness(1.15);
}

/* MEDIA QUERIES */
/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 200px) and (max-width: 361px) {
    .hamburger {
        display: block;
    }

    .leftside_nav .nav_logo {
        height: 32px;
    }

    .nav_main {
        height: 60px;
        justify-content: space-between;
        padding: 0 2.4rem;
    }

    .rightside_nav {
        display: none;
    }

    .nav_mobile,
    .nav_mobile_container {
        display: inline-block;
        z-index: 999;
    }

    .close {
        display: none;
    }

    .x_size {
        font-size: 1.4rem;
        transform: scale(1.6) !important;
        color: var(--blue);
    }

    .ham_size {
        font-size: 1.6rem;
        transform: scale(1.6) !important;
        color: var(--blue);
    }

    .nav_mobile_container {
        position: absolute;
        top: 61px;
        left: 0;
        width: 100vw;
        padding: 0.8rem 0;
        background-color: var(--creamy-white);
    }

    .nav_mobile_ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        list-style-type: none;
        gap: 1rem;
    }

    .nav_mobile_ul .nav_mobile_li {
        text-transform: capitalize;
        font-weight: 600;
        color: var(--blue);
        font-size: 1rem;
        cursor: pointer;
        letter-spacing: -2%;
        transition: all 300ms ease-in-out;
    }

    .nav_mobile_ul .nav_mobile_li:hover {
        color: var(--accent);
    }

    .nav_mobile_ul .nav_cta_contact {
        margin-top: 8px;
        margin-bottom: 0.5rem;
        color: var(--creamy-white);
        background-color: var(--accent);
        padding: 10px 14px;
        border-radius: 4px;
        width: 80vw;
        border: 1px solid #af8e6021;
        font-weight: 600;
        transition: all 400ms ease-in-out;
        color: #fff;
        box-shadow: 4px 4px 6px 0px #dbdad8;
    }

    .nav_mobile_ul .nav_cta_contact .img {
        height: 12px;
        margin-left: 6px;
    }

    .nav_mobile_ul .nav_cta_contact:hover {
        color: var(--creamy-white);
        background-color: #af8e60ba;
    }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
    .hamburger {
        display: block;
    }

    .leftside_nav .nav_logo {
        height: 32px;
    }

    .nav_main {
        height: 60px;
        justify-content: space-between;
        padding: 0 2.4rem;
    }

    .rightside_nav {
        display: none;
    }

    .nav_mobile,
    .nav_mobile_container {
        display: inline-block;
        z-index: 999;
    }

    .close {
        display: none;
    }

    .x_size {
        font-size: 1.4rem;
        transform: scale(1.6) !important;
        color: var(--blue);
    }

    .ham_size {
        font-size: 1.6rem;
        transform: scale(1.6) !important;
        color: var(--blue);
    }

    .nav_mobile_container {
        position: absolute;
        top: 61px;
        left: 0;
        width: 100vw;
        padding: 0.8rem 0;
        background-color: var(--creamy-white);
    }

    .nav_mobile_ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        list-style-type: none;
        gap: 1rem;
    }

    .nav_mobile_ul .nav_mobile_li {
        text-transform: capitalize;
        font-weight: 600;
        color: var(--blue);
        font-size: 1rem;
        cursor: pointer;
        letter-spacing: -2%;
        transition: all 300ms ease-in-out;
    }

    .nav_mobile_ul .nav_mobile_li:hover {
        color: var(--accent);
    }

    .nav_mobile_ul .nav_cta_contact {
        margin-top: 8px;
        margin-bottom: 0.5rem;
        color: var(--creamy-white);
        background-color: var(--accent);
        padding: 10px 14px;
        border-radius: 4px;
        width: 85vw;
        border: 1px solid #af8e6021;
        font-weight: 600;
        transition: all 400ms ease-in-out;
        color: #fff;
        box-shadow: 4px 4px 6px 0px #dbdad8;
    }

    .nav_mobile_ul .nav_cta_contact .img {
        height: 12px;
        margin-left: 6px;
    }

    .nav_mobile_ul .nav_cta_contact:hover {
        color: var(--creamy-white);
        background-color: #af8e60ba;
    }
}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .leftside_nav .nav_logo {
        height: 32px;
    }

    .nav_main {
        height: 60px;
        justify-content: space-between;
        padding: 0 2.4rem;
    }

    .rightside_nav {
        display: none;
    }

    .nav_mobile,
    .nav_mobile_container {
        display: block;
    }

    .close {
        display: none;
    }

    .x_size {
        font-size: 1.4rem;
        transform: scale(1.6) !important;
        color: var(--blue);
    }

    .ham_size {
        font-size: 1.6rem;
        transform: scale(1.6) !important;
        color: var(--blue);
    }

    .nav_mobile {
        /* position: relative; */
    }

    .nav_mobile_container {
        position: absolute;
        top: 61px;
        left: 0;
        width: 100vw;
        padding: 0.8rem 0;
        background-color: var(--creamy-white);
        z-index: 999;
    }

    .nav_mobile_ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        list-style-type: none;
        gap: 1rem;
    }

    .nav_mobile_ul .nav_mobile_li {
        text-transform: capitalize;
        font-weight: 600;
        color: var(--blue);
        font-size: 1rem;
        cursor: pointer;
        letter-spacing: -2%;
        transition: all 300ms ease-in-out;
    }

    .nav_mobile_ul .nav_mobile_li:hover {
        color: var(--accent);
    }

    .nav_mobile_ul .nav_cta_contact {
        margin-top: 8px;
        margin-bottom: 0.5rem;
        color: var(--creamy-white);
        background-color: var(--accent);
        padding: 10px 14px;
        border-radius: 4px;
        width: 85vw;
        border: 1px solid #af8e6021;
        font-weight: 600;
        transition: all 400ms ease-in-out;
        color: #fff;
        box-shadow: 4px 4px 6px 0px #dbdad8;
    }

    .nav_mobile_ul .nav_cta_contact .img {
        height: 12px;
        margin-left: 6px;
    }

    .nav_mobile_ul .nav_cta_contact:hover {
        color: var(--creamy-white);
        background-color: #af8e60ba;
    }
}